<div class="lgrey p-4 cornered m-4 brand-card">
  <span class="mx-auto">

<% if brand.image.content_type.in?(%w[image/jpeg image/png image/webp]) %>
  <div><%=link_to (image_tag (brand.image_brand)), brand %></div>
<% else %>
  <div class="center"><%= image_tag ("download.jpg"), class: "immg"  %></div>
<% end %>

  <div class="p-link center">
    <strong><%=link_to brand.name, brand, class:"s-link" %></strong>
  </div>
  </span>
</div>