<div class="lgrey p-4 cornered m-2 brand-card">
  <span class="mx-auto">

<% if brand.image.attached? %>
  <div><%=link_to (image_tag(brand.image_handler(brand.image,"brand"), class:"cornered")), brand %></div>
<% else %>
  <div class="center"><%=image_tag(@blank.image_brand, class:"cornered")%></div>
<% end %>

  <div class="p-link center">
    <%=link_to brand.one_liner(brand.name), brand, class:"s-link bold", style:"text-align:center;" %>
  </div>
  </span>
</div>
