<div class="title is-4 has-text--grey center">Gallery</div>
<div class="subtitle is-6 center">Add photos to showcase your brand. This section is still under UI improvment development.</div>
<%= render "brands/components/gallery_1", form: form, brand: brand %>
<%= render "brands/components/gallery_2", form: form, brand: brand %>
<%= render "brands/components/gallery_3", form: form, brand: brand %>
