<div class="center secondary-t bold"><u>Customize Brand Banner</u></div>
<div class="center">Add image to banner to make it more unique! We recommend switching brand text to white when adding a brand image.</div>
<%= render "image_preview_for_banner", form: form, brand: brand %>

  <div class="mt-3">
    <%= form.text_field :header, class:"input is-small mokka-ph", placeholder:"Banner Text"%>
    <%= form.text_field :brand_text, class:"input is-small mokka-ph", placeholder:"Banner Text Color" %>
  </div>

