<div class="center secondary-t bold"><u>Gallery</u></div>
<div class="center">Add up to 3 images to showcase what your brand is all about.</div>
<div class="columns">
	<div class="column"><%= render "brands/components/gallery_1", form: form, brand: brand %></div>
	<div class="column"><%= render "brands/components/gallery_2", form: form, brand: brand %></div>
	<div class="column"><%= render "brands/components/gallery_3", form: form, brand: brand %></div>
</div>
