<label class="custom-radio">
    <%= f.radio_button :name_or_verification_or_styles_name_or_tags_id_or_location_eq_any, fill, oninput: 'this.form.requestSubmit();' %> 
    <div class="radio-style">
        <i class="<%=css%> fa-xl mt-3"></i><div class="radio-font"><%=word%></div>
    </div>
</label>