<div class="section-corner bb">
  <p>
    <strong>Title:</strong>
    <%= collection.title %>
  </p>


  <div class="flexed">
    <% collection.collectibles.each do |collectible| %>
      <div class="m-1">
        <%= render 'posts/post', post: collectible.post %>    
      </div>
    <% end %>
  </div>

</div>

