<label class="custom-radio white">
    <%= f.radio_button :c_type_or_title_eq_any, fill, oninput: 'this.form.requestSubmit();' %> 
    <div class="radio-style">
        <i class="<%=css%> fa-xl mt-3"></i><div class="radio-font"><%=word%></div>
    </div>
</label>