<div class="title is-4 secondary-t center mb-1"><u>Additional Image Upload</u></div>
<div class="center">Put additional images here.</div>

<div class="columns">
	<div class="column">
		<%= render "posts/components/image1", form: form, post: post%>		
	</div>
	<div class="column">
		<%= render "posts/components/image2", form: form, post: post%>		
	</div>
	<div class="column">
		<%= render "posts/components/image3", form: form, post: post%>		
	</div>
</div>
