
<div class="title is-4 center secondary-t mb-1"><u>Links</u></div>
<div class="center mb-2">Is your product in multiple locations? If yes then please put them here.(At the moment only Grailed & Amazon works)</div>

<div class="center-down rw50 mx-auto">

<label class="bold"><u>Grailed Link</u></label>
<%= form.text_field :grailed, class:"input mokka-ph",placeholder:"Please include https://" %>

<label class="bold"><u>Amazon Link</u></label>
<%= form.text_field :amazon_link, class:"input mokka-ph",placeholder:"Please include https://" %>


<label class="bold"><u>StockX Link</u></label>
<input class="input is-success" type="text", placeholder="Not Avaliable ATM">

<label class="bold"><u>Google Link</u></label>
<input class="input is-link" type="text", placeholder="Not Avaliable ATM">

<label class="bold"><u>Etsy Link</u></label>
<input class="input is-danger" type="text", placeholder="Not Avaliable ATM">

</div>
