<%if user_signed_in?%>

	<span class="flexed" id="<%="post_#{post.id} private_likes"%>">
	<%= button_to like_post_path(post), class: "button button-like-text mr-1", method: :post, form: { data: { turbo: true } } do %>
		<%if current_user.liked?(post)%>
			<i class="fa-solid fa-heart fa-lg mx-1 mred"></i>

		<%else%>
			<i class="fa-regular fa-heart fa-lg mx-1 mred"></i>
		<%end%>

	<%end%>

	</span>
<%else%>
	<button class="button button-like-text mr-1">
	
		<i class="fa-regular fa-heart fa-lg mx-1 mred"></i>	 
	</button>
<%end%>



