<%if post.archive == "archived"%>
	<div class="tag ml-2" style="border: 2px solid #c88595; color:#c88595; font-weight:bold;">archived</div>
<%elsif post.archive == "project"%>
	<div class="tag ml-2" style="border: 2px solid #cbb595;font-weight:bold;">project</div>
<%else%>
	<div class="ml-2 mobile-small-text"><%=if post.price.blank? then "#N/A" else number_to_currency(post.price) end%></div>
<%end%>