<section class="section prime bs">
  <div class="center title is-4 m-3">#1 Catalog in the World.</div>
  <br />
  <div  class="center mobile-collapse-container">

<div class="root_search">
<%= search_form_for @query do |f| %>
    <div class="center">
<%= f.search_field :title_or_material_or_brand_name_or_category_name_i_cont_any, class:"input bs", placeholder:"Search here..." %>
    </div>
<%= f.submit "search!", class:"button is-warning my-2 bs d-none" %>
<% end %>
</div>

<div class="mx-3 mobile-collapse"><strong>or</strong></div>

<div class="mobile-collapse"><%=link_to "Upload your own", new_post_path, class:"button is-warning"%></div>  
</div>
</section>