<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="notification center-down">
      <input class="input" value="helo"></input>
      <%=link_to "Close", "#", onclick:"hidediv('visitmodal')", class:"button is-danger"%>
    </div>
  </div>
</div>
