<label class="custom-radio">
    <%= f.radio_button :season_or_brand_verification_or_brand_badge_or_brand_styles_name_or_brand_location_or_category_name_or_tags_name_or_color_or_brand_tags_id_eq_any, fill, oninput: 'this.form.requestSubmit();' %> 
    <div class="radio-style">
        <i class="<%=css%> fa-xl mt-3"></i><div class="radio-font"><%=word%></div>
    </div>
</label>