<div class="taller">
	<div class="title is-4 center secondary-t mt-6 text-center">
		Almost there!
	</div>
	<div class="mx-auto center-down rw50 text-center">
 
		<span>Before you can start listing your clothing we need to verify that you own the brand & meet our <%=link_to "guideline", guideline_path, class:"s-link"%></span>

		<br/>
		Our team will verify <%=@brand.name%> and get back to you in 2 business days!
		<br/>
		<br/>
		<%=link_to "Next", next_wizard_path, class:"ml-2 mokka-btn btn-warning button"%>
	</div>
</div>



