<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<%= form_with url: search_path do %>
  <div data-controller = "tokenized-search" class="postition-relative mb-4">
    <div data-tokenized-search-target="tagsContainer" class="position-absolute"></div>
    <input type="text"
      placeholder="Search..."
      data-tokenized-search-target="input"
      data-action="click->tokenized-search#showDropdown"
      class="form-control"
      readonly>

    <div data-tokenized-search-target="fieldSelect" class="d-none">
      <select class="form-control" data-action="change->tokenized-search#selectField">
        <option value="">Select a field</option>
        <option value="title">Title</option>
        <option value="author">Author</option>
        <option value="category">Category</option>
      </select>
    </div>

    <div data-tokenized-search-target="operatorSelect" class="d-none">
      <select class="form-control" data-action="change->tokenized-search#selectOperator">
        <option value="">Select an operator</option>
        <option value="equals">Equals</option>
        <option value="contains">Contains</option>
      </select>
    </div>

    <input type="text"
      placeholder="Type value..."
      data-tokenized-search-target="valueInput"
      class="form-control d-none">
  </div>

  <input type="submit" value="Search" class="btn btn-primary">
<% end %>






<section class="section black-border flexed-wc">
  <% @posts.each do |post| %>
      <div class=""><%=render post%></div>
  <% end %>
</section>