
<% if resource.errors.any? %>
<section class="center">
  <div id="error_explanation" data-turbo-cache="false" class="message is-danger rw50">
    <div class="message-header">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </div>
    <div class="message-body">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  </div>
</section>
<% end %>
