<section class="section bb">
	<div class="title is-4 center">Closet</div>
	<div class="closet">
		<div class="rail"></div>
		<div class="flexed-wc inside mx-auto p-4">

		<% @closet_post.each do |post| %>


		<div class="mx-4 my-5 center-down">
			<% if post.image.attached?%>
				<%=link_to image_tag(post.img_sq_normal(post.image), class:"cornered"), post%>
			<% else %>
			    <div class="center"><%= image_tag ("download.jpg"), class: "immg cornered"  %></div>
			<% end %>
			<%shortened_title = post.title.truncate(30, omission: '', separator: ' ')%>
			<%display_title = shortened_title.length > 20 ? "#{shortened_title[0..16]}..." : shortened_title%>
			<%=link_to display_title, post, style:"color:white;" %>
		</div>
		<%end%>
		</div>
	</div>
</section>