<section class="section">
	<div class="bold center"><u>Liked Brands:</u></div>
	<div class="">
	<% @followed_brands.each do |brand| %>

		<div class="bs cornered my-2 lgrey"><%= render brand %></div>

	<%end%>
	</div>
</section>


<section>
	<div class="bold center"><u>Liked Clothing:</u></div>
	<div class="flexed-wc">
	<% @liked_posts.each do |post| %>

	<%= render post%>

	<%end%>
	</div>
</section>
