<section class="section">
	<div class="bold center"><u>Liked Clothing:</u></div>
	<div class="flexed-wc">
	<% @liked_posts.each do |post| %>

	<div class="bs m-1 center-down post-card cornered p-1">
			<%= image_tag(post.image_handler(post.image,"normal")) if post.image.attached? %>
		<%=link_to post.titled, post, class:"s-link" %>
	</div>

	<%end%>
	</div>
</section>
