<div id="about-title" class="title is-4 secondary-t center mt-3">Explore</div>
<div id="about-body-1" class="mt-2">
Start Liking clothings & Follow brands you like to get more recommendation tailored to your preference.
<br/>
</div>
<div id="about-title-1" class="bold secondary-t my-4">What can I do?</div>
<div class="mt-2">
<span id="bold3"class="bold">Customize your Wardrobe:</span>
<span id="about-body-3">
Show off your wardrobe to others. Add clothing that represents you the most. Choose wisely because you can only add up to 8!
Check out your wardrobe in: <%=link_to "My Page", user_path(current_user), class:"s-link",target:"_blank"%>
</span>
	<br/><br/>
	You can add to your wardrobe by clicking the wardrobe button.
	<br/><br/>
	<div class="flexed">	
	<div class="mr-2 bold">Wardrobe Button:</div> 
	<div class="button bs mx-1 p-btn">
        <div class="hover">
        <span class="material-symbols-outlined mt-1">
        checkroom
        </span>
        <div class="hover-content center">Add to Wardrobe</div>
      </div>
    </div>
	</div>
</div>

<div class="mt-4">
<span id="bold2"class="bold">Leave Comments:</span>
<span id="about-body-2">
You can leave comments and interact with others or write a review to vouch for your favorite brands.
</span>
</div>
