<div id="about-title" class="title is-4 secondary-t center mt-3">Follow Us</div>
<div id="about-body-1" class="mt-2">
We are only 1% on our way to our goal.
<br/>
Get news on our future updates & be part of our community!
</div>

<div class="flexed mt-4">
<a href="https://instagram.com/mokkalog" target="_blank">
 <i class="fa-brands fa-instagram fa-2xl ml-4" style="color:#5A3A31;"></i>
</a>

<a href="https://discord.gg/7eCH3PaU" target="_blank">
 <i class="fa-brands fa-discord fa-2xl mx-4" style="color:#5A3A31;"></i>
</a> 
</div>