<div id="about-title" class="title is-4 secondary-t center mt-3">Customize</div>
<div id="about-body-1" class="mt-2">
My Page is your profile page. You can see a list of clothing you liked & lot of future features will be added will such as ability to make your own collections.
<br/>
At the moment, you can list your links or introduce yourself here.
</div>

