<div class="center-down text-center">
	<br/><br/>
	<div>Check out your Page at <span class="bold">Profile -> My Page.</span></div>
	<br/></br>
	In My Page, you can look at the clothings you liked & show off your wardrobe!
	<br/><br/>
	You can add an apparel to your wardrobe by clicking the wardrobe button in the clothing page you like.
	<br/><br/>
    <div class="button bs mx-1 p-btn">
        <div class="hover">
        <span class="material-symbols-outlined mt-1">
        checkroom
        </span>
        <div class="hover-content center">Add to Wardrobe</div>
      </div>
    </div>
	</br></br>
	Choose wisely which clothing to add to your wardrobe because you can only add up to 8 clothing!
	<br/><br/>

</div>