      <div class="flexed center-h">
      	<i class="<%=icon%>"></i>
        <input class="input is-small mokka-ph" placeholder="Creator has not submitted a link yet" value="<%=link%>">
        <%=link_to "Visit", link, class:"button is-warning is-small bold", target:"_blank", style:"border: 1px solid #654321;"%>    
      </div>
