<div id="about-title" class="title is-4 secondary-t center">Brand Growth</div>
<div id="about-body-1" class="mt-2">
During our inception, one of our core values has been to shine a spotlight on emerging brands and underappreciated designers. Our mission is to empower these brands, enabling them to unlock their full potential and garner visibility among a broader audience.
</div>
<div class="mt-2">
<span id="bold3"class="bold">List without hidden fees:</span>
<span id="about-body-3">
You can start listing your clothing today! There are no hidden fee such as payment per sale or click. So what is the catch? The first 10 listing is on us, but if you want to list more than 10 you have to pay $1 a month for each clothing you list. 
</span>
</div>
<div class="mt-2">
<span id="bold2"class="bold">Find Collaborators:</span>
<span id="about-body-2">
One of the ways to take your brand to the next level is through collaborators. Mokkalog has a list of creators, businesses, and fashion brands who are open to collaborating. Find your next collaborator on our platform.
</span>
</div>

<div class="mt-2">
<span id="bold3"class="bold">Give us Feedback:</span>
<span id="about-body-3">
We are creating this platform for you. Please let us know the problems you are facing & what you would like to see on our platform.
</span>
</div>