<div id="about-title" class="title is-4 secondary-t center">Brand Growth</div>
<div id="about-body-1" class="mt-2">
At our core, we are a platform that wishes to share and curate the passion and craft of independent brands.
<br/><br/>
Do you know any brands that you believe are under appreciated or ar a hidden gem? Please share it with us on X!

<br/><br/>
If you own a brand and would like to be in our database please reach out!
<br/><br/>
         <a href="https://x.com/workbyatlas" target="_blank">
            <i class="fa-brands fa-square-x-twitter fa-xl mx-2" style="color:#654321;"></i>
         </a>
</div>


