<div id="about-title" class="title is-4 secondary-t center">Brand Growth</div>
<div id="about-body-1" class="mt-2">
During our inception, one of our core values has been to shine a spotlight on emerging brands and underappreciated designers. Our mission is to empower these brands, enabling them to unlock their full potential and garner visibility among a broader audience.
</div>
<div id="about-title-1" class="bold secondary-t mt-4">How will Mokkalog help?</div>
<div class="mt-2">
<span id="bold2"class="bold">Find Collaborators:</span>
<span id="about-body-2">
One of the ways to take your brand to the next level is through collaborators. Mokkalog has a list of creators, businesses, and fashion brands who are open to collaborating. Find your next collaborator on our platform.
</span>
</div>
<div class="mt-2">
<span id="bold3"class="bold">Find Resources:</span>
<span id="about-body-3">
We know one of the hardest when starting a business is the lack of resources.
We want to help brands & provide you with insights & resources to get your brand right.
</span>
</div>

<div class="mt-2">
<span id="bold3"class="bold">Give us Feedback:</span>
<span id="about-body-3">
We are creating this platform for you. Please let us know the problems you are facing & what you would like to see on our platform.
</span>
</div>