<div id="about-title" class="title is-4 secondary-t center">Brand Growth</div>
<div id="about-body-1" class="mt-2">
During our inception, one of our core values has been to shine a spotlight on emerging brands and underappreciated designers. Our mission is to empower these brands, enabling them to unlock their full potential and garner visibility among a broader audience.
</div>
<div class="mt-2">
<span id="bold3"class="bold">Start Uploading Today:</span>
<span id="about-body-3">
Are you a brand owner? You can start listing your clothing on our platform after you make an account with us today. Please follow our <%=link_to "guideline", guideline_path, class:"s-link"%> when listing.
</span>
</div>
<div class="mt-2">
<span id="bold3"class="bold">How does it work?:</span>
<span id="about-body-3">
We want to be transparent and let you know we don't do fee per click or fee per purchase. However we charge $1 per listing every month. But everyone gets their first 10 listing for free every month, so you guys can test it out and see if it is worth listing more clothing with us.
</span>
</div>
<div class="mt-2">
<span id="bold2"class="bold">Find Collaborators:</span>
<span id="about-body-2">
One of the ways to take your brand to the next level is through collaboration. We bring creative minds together.
</span>
</div>

