<div id="about-title" class="title is-4 secondary-t center">Core Values</div>
<div id="about-body-1" class="mt-2">
We are only 1% on our way to our goal!
<br/>
We have many more features coming in the future.
<br/>

</div>
<div id="about-title-1" class="bold secondary-t mt-4">Core values at Mokkalog</div>
<div class="mt-2">
<span id="bold2"class="bold">User Experience:</span>
<span id="about-body-2">
We are not there yet, but we are always striving for better design.
</span>
</div>

<div class="mt-2">
<span id="bold3"class="bold">Art:</span>
<span id="about-body-3">
What is Art? You could be an accountant and be an artist as long as you put in dedication, heart, and meaning into your work. We celebrate artist & preservation of human emotions.
</span>
</div>

<div class="mt-2">
<span id="bold3"class="bold">Dream:</span>
<span id="about-body-3">
Dreams are romantic & we hope to help dreams come true.
</span>
</div>
<br/>

<iframe class="rw50 mx-auto" height="300" src="https://www.youtube.com/embed/R2CzFQpWoLs?si=TFP2ARCLgCwHDu0V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>