<div id="about-title" class="title is-4 secondary-t center">Notice</div>
<div id="about-body-1" class="mt-2">

Mokkalog has been a fun project for me to combine what I love: web development and craft.
<br/>
<br/>
<br/>
Clothing here are from past seasons and most of the external links are broken due to these clothing not being avaliable anymore.
<br/>
<br/>
But still come browse as we have curated clothing from rising rookies all over the world who embodies fine craft and passion. I promise you will find something you like.
<br/>
<br/>
But Big things are coming. We are doing an overhaul to a new website and a young rising star is joining the team to elevate the platform to new heights.
<br/>
<br/>

<br/>
<br/>
<div class="center mt-4">
 <%=link_to "Explore Mokkalog", home_path, class:"button is-warning bold", style:"border:1px solid #654321;" %>
</div>

<br/>
<br/>
please check us out on the desktop for the full experience:)
</div>



<br/>
