<div id="about-title" class="title is-4 secondary-t center">Fashion Hub</div>
<div id="about-body-1" class="mt-2">
We are only 1% on our way to our goal!
<br/>
We have many more features coming in the future.
<br/>

</div>
<div id="about-title-1" class="bold secondary-t mt-4">What is next for Mokkalog?</div>
<div class="mt-2">
<span id="bold2"class="bold">Collection:</span>
<span id="about-body-2">
We want everyone to have ability to share what you found & show off to your friends. Collection can be a delicately curated collection of clothing you worked hard to find or a fit for an event. 
</span>
</div>
<div class="mt-2">
<span id="bold3"class="bold">Collab Board:</span>
<span id="about-body-3">
This will be a board where brand owners can easily look thorugh brands & creators that are willing to collaborate with you according to certain criteria. Verified Retailers will also have access to this board helping your brand to be connected with retailers.
</span>
</div>