<div id="about-title" class="title is-4 secondary-t center">Core Values</div>
<div id="about-body-1" class="mt-2">
I am not sure how you found me, but Hello and Welcome to Mokkalog!
<br/>
<br/>
Mokkalog has been a fun project for me to combine what I love: web development and craft.
<br/>
<br/>
Due to circumstances I was not able to work on Mokkalog development since 2023.
<br/>
So clothing here are from past seasons and most of the external links are broken due to these clothing not being avaliable anymore.
<br/>
<br/>
But still come browse as I have curated clothing from rising rookies all over the world who embodies fine craft and passion.
<br/>
<br/>
But Big things are coming. We are doing an overhaul to a new website and a young rising star is joining the team to elevate the platform to new heights.
<br/>
<br/>
If you would like to see the journey, please follow me on X for update:          
	<a href="https://x.com/workbyatlas" target="_blank">
	     <i class="fa-brands fa-square-x-twitter fa-xl mx-2" style="color:#654321;"></i>
	</a>
<br/>
<br/>
<div class="center mt-4">
 <%=link_to "Explore Mokkalog", home_path, class:"button is-warning bold", style:"border:1px solid #654321;" %>
</div>
</div>



<br/>
