<div id="about-title" class="title is-4 secondary-t center">Core Values</div>
<div id="about-body-1" class="mt-2">
We are only 1% on our way to our goal!
<br/>
One step at a time. Keep pushing through!
<br/>

</div>

<br/>
