<div id="about-title" class="title is-4 secondary-t center">Mokkalog</div>
<div id="about-body-1" class="mt-2">
Mokkalog is a fashion platform powered by community of rising brands & enthusiasts.
<br/>
Discover & shop clothing from innovative & independent brands.
<br/>

</div>

<div class="mt-2">
<span id="about-body-2">
We curate clothing from independent brands.
<br/>
<br/>
Look around for a bit, we promise you will find something you like
</span>
</div>
