<div id="about-title" class="title is-4 secondary-t center">Mokkalog</div>
<div id="about-body-1" class="mt-2">
Mokkalog is a place to discover & browse clothing you never seen before. We have curated clothing from independent brands that are hiding in the corners of the world. We also have database of interesting clothing to help you get inspired.
<br/>


</div>

<div class="mt-2">
<span id="about-body-2">

<br/>
Look around for a bit, we promise you will find something you like
</span>
</div>
