<div id="about-title" class="title is-4 secondary-t center mt-3">Mokkalog</div>
<div id="about-body-1" class="mt-2">
Mokkalog is a fashion platform powered by community of rising fashion brands & enthusiasts.
<br/>
Discover innovative, independent, & unique fashion brands.
<br/>
We help new brands take off.
</div>
<div id="about-title-1" class="bold secondary-t mt-4">How do I use Mokkalog?</div>
<div class="mt-2">
<span id="bold2"class="bold">For Creators:</span>
<span id="about-body-2">
Upload your brand & share your catalog to a wider audience. Browse through our resources & find potential collaborators & retailers.
<br/>
Be part of a community of like minded people.
</span>
</div>
<div class="mt-2">
<span id="bold3"class="bold">For You:</span>
<span id="about-body-3">
Discover brands you never heard of & browse through a list that is tailored to your taste.
Navigate through thousands of clothes with our easy to use navigation system.
</span>
</div>