<div id="about-title" class="title is-4 secondary-t center">Mokkalog</div>
<div id="about-body-1" class="mt-2">
Mokkalog is a fashion platform powered by community of rising brands & enthusiasts.
<br/>
Discover & shop clothing from innovative & rising brands.
<br/>
We help new brands take off.
</div>
<div id="about-title-1" class="bold secondary-t mt-4">How do I use Mokkalog?</div>
<div class="mt-2">
<span id="bold2"class="bold">For Creators:</span>
<span id="about-body-2">
We are an inventory-free & open listing platform where you can list your clothing on our platform.
Find your next potential collabrators from a list of brands, retailers, and creators.
<br/>
Be part of a community of like minded people.
</span>
</div>
<div class="mt-2">
<span id="bold3"class="bold">For You:</span>
<span id="about-body-3">
Discover & shop new brands that we know you will love using our easy to use navigation system.
</br>
<%=link_to "Create an account", new_user_registration_path, class:"s-link"%> to get recommendation more tailored to your taste.
</span>
</div>