<div class="title is-4 my-2">Recently Added</div>
<section class="bp relative cornered" data-controller="slider" data-slider-index-value="0">
  <button data-action="slider#previous" class="button-like-text carousel-lbtn">
  	<i class="fa-solid fa-arrow-left"></i>
  </button>
  <button data-action="slider#next" class="button-like-text carousel-rbtn">
  	<i class="fa-solid fa-arrow-right"></i>
  </button>

<span class="center">
  <div data-slider-target="slide">
	<span class="flexed-wc">
	<% @posts_latest.take(4).each do |post| %>
	<div class=""><%= render post %></div>
	<% end %>
	</span>
  </div>

  <div data-slider-target="slide">
  	<span class="flexed-wc">
    <% @posts_latest[4..7].each do |post| %>
     <div class=""><%= render post %></div>
    <% end %>
	</span>
  </div>

  <div data-slider-target="slide">
	<span class="flexed-wc">
	<% @posts_latest[8..11].each do |post| %>
	<div class=""><%= render post %></div>
	<% end %>
	</span>
  </div>

  <div data-slider-target="slide">
	<span class="flexed-wc">
	<% @posts_latest[12..15].each do |post| %>
	<div class=""><%= render post %></div>
	<% end %>
	</span>
  </div>
 </span>
</section>