<section data-controller="hello" class="bb">x
	<div class="carousel relative">
		<button class="carousel-lbtn button-like-text">
			<<i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>
		</button>
		<button class="carousel-rbtn button-like-text">
			><i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
		</button>
	<ul data-hello-target="items">
		<li data-active class="slide has-background-link">slide 1</li>
		<li class="slide has-background-danger">slide 2</li>
		<li class="slide has-background-warning">slide 3</li>		
	</ul>
	</div>
</section>