   <section class="section is-medium prime">
      <div class="center title is-4">About</div>
      <hr class="bst" />
   </section>

   <section class="section notification center-down">
   
   <div class="bs p-5 rw50">
      <div class="subtitle">
         <span class="icon">
      <i class="fa-solid fas fa-home"></i>
   </span>
 is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
   </div>
   <br />
   <div class="mt-5 title is-4">Our Vision</div>
   <div class="bs p-5 rw50">
      <div class="subtitle">
 is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
   </div>

   <br />
   <div class="mt-5 title is-4">Whats to come.</div>
   <div class="bs p-5 rw50">
      <div class="subtitle">
 is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
   </div>
   </section>


