   <section class="section is-medium prime">
      <div class="center title is-4">about</div>
      <hr class="bst" />
   </section>

   <section class="section lgrey center-down">
   
   <div class="bs p-5 rw50">
      <div class="center subtitle" style="text-align:center;">
         <div>
            Mokka is an open archive for clothing. We are dedicated to curating from emerging brands and innovative pieces that are impacting the industry. The archive is free to access and anyone can add to the database.
       </div>
      </div>
   </div>

   <br />

   <div class="mt-5 title is-4">Our Values</div>

   <div class="bs p-5 rw50">
      <div class="content" style="text-align:center;">
            <h4>Supporting emerging brands</h4>
            <p>Big brands have their own archives, but clothing from small brands or individual desiners will be lost to the annals of history if not preserved. Mokka is a platform where clothing by the people can be documented for the future generation.
            </p>

            <h4>Database curated by you</h4>
            <p>
               This is an open database that doesn't discriminate against any fashion style. If you are a fashion student who wants to upload their project or who picked up sewing as a hobby. We welcome all.

            </p>
            <h4>Under Construction</h4>
            <p>
               This website is getting updated everyday. so if there is something broken it, it is due to me testing out new features. 
            </p>
            

      </div>
   </div>

   <br />
   <div class="d-none">
   <div class="mt-5 title is-4">Follow Us.</div>
   <div class="bs p-5 rw50 center">
      <a href="" ><i class="fa-brands fa-instagram fa-lg" style="color:#654321;"></i></a>
      <a href="" ><i class="fa-brands fa-discord fa-lg" style="color:#654321;"></i></a>
   </div>
   </div>
   </section>


