   <section class="section is-medium prime">
      <div class="center title is-4">about</div>
      <hr class="bst" />
   </section>

   <section class="section notification center-down">
   
   <div class="bs p-5 rw50">
      <div class="center subtitle" style="text-align:center;">
         Mokka is a fashion platform to browse database of clothing that has been curated by the users.
      </div>
   </div>

   <br />

   <div class="mt-5 title is-4">Our Values</div>

   <div class="bs p-5 rw50">
      <div class="content" style="text-align:center;">

            <h4>Database curated by you.</h4>
            <p>majority of alternative fashion database or online stores only have apparel curated by the platform. At Mokka, we also work hard to hand picking great brands, but who are we to judge what is good enough for our website? You guys get to decide. Every user has the freedom to add a garment of their choice. Our vision is for our database to have clothes from all corners of the world.
            </p>
            <h4>Centralize Fashion Marketplaces</h4>
            <p>
               The fashion E-commerce industry already has many reputable names such as StockX, Grailed, and Amazon. Instead of creating a platform that tries to compete with them. We are trying to making a platform that can coexist in the current fashion ecosystem. 
            </p>
            <h4>User focused Design</h4>
            <p>
               Mokka is still at a very early stage. There are many pain points we are not aware of or services you guys don't enjoy. Please let us know how you feel and how we can improve our platform. Be part of the discussion in the monthly dev blog.
            </p>
            

      </div>
   </div>

   <br />
   <div class="mt-5 title is-4">Whats to come.</div>
   <div class="bs p-5 rw50">
      <div class="subtitle">
 is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
   </div>
   </section>


