   <section class="section is-medium prime section-corner-top">
      <div class="center title is-4">about</div>
      <hr class="bst" />
   </section>

   <section class="section lgrey center-down">
   
   <div class="bs p-5 rw50">
      <div class="center subtitle" style="text-align:center;">
         <div>
            Mokka is an open archive for clothing. We are dedicated to curating pieces from emerging brands and innovative pieces that are impacting the industry. We wish Mokka can be a platform to discover underappreciated brands and find inspiration.
       </div>
      </div>
   </div>

   <br />

   <div class="mt-5 title is-4">Our Values</div>

   <div class="bs p-5 rw50">
      <div class="content" style="text-align:center;">
            <h4>Preserving Our History</h4>
            <p>Big brands have their own archives, but clothing from small brands or individual designers will be lost to the annals of history if not preserved. Also with the rise of AI technology, I believe it is more important than ever to preserve what humans have made. Mokka is a platform where clothing by the people can be documented for the future generation.
            </p>

            <div class="content" style="text-align:center;">
            <h4>Supporting Emerging Brands</h4>
            <p>We want Mokka to be a platform where small brands can grow. Hopefully, this can be a platform where we can give visibility to underappreciated brands to a bigger audience. We have many features planned in the future, where we can help small brands collaborate with each other and even collaborate with bigger brands.
            </p>

            <h4>Database curated by You</h4>
            <p>
               This is an open database that doesn't discriminate against any fashion style. If you are a fashion student who wants to upload their project or a hobbyist who picked up sewing. We welcome all. Down the road, we will add rules and guideline that must be followed.

            </p>

            <h4>Sustainability</h4>
            <p>
              One thing we support is the trend of going sustainable in fashion. So we would like to dedicate informing the consumers about the latest sustainable technology in fashion and promote brands that are actually sustainable instead of just buying a certification.
            </p>
       </div>
   </div>

   <br />
   <div class="d-none">
   <div class="mt-5 title is-4">Follow Us.</div>
   <div class="bs p-5 rw50 center">
      <a href="" ><i class="fa-brands fa-instagram fa-lg" style="color:#654321;"></i></a>
      <a href="" ><i class="fa-brands fa-discord fa-lg" style="color:#654321;"></i></a>
   </div>
   </div>
   </section>


