   <section class="section is-medium prime section-corner-top">
      <div class="center title is-4 secondary-t">about</div>
      <hr class="bst" />
   </section>

   <section class="section lgrey center-down">



   <div class="bs p-5 rw50 cornered">
      <div class="title is-4 center secondary-t mb-5">A platform for next generation fashion brands</div>
      <div class="center subtitle secondary-t mt-2" style="text-align:center;">
         <div>
            Mokkalog is a fashion listing platform for new and independent fashion brands & established brands.
            <br/>
            <br/>
            For users, we want to provide an extensive list of clothing from your favorite brands, brands that are innovative, and new brands you have never heard of.
            <br/>
            <br/>
            For brand owners, this is an open listing platform where you can list  your clothing on our website for a fee. We want to provide a platform where users can easily discover your brand, provide you with analytics on your clothing & resources to grow your brand, and help you find potential collaborators. 

       </div>
      </div>
   </div>

   <br />

   <div class="mt-5 title is-4" style="color:#654321;">How are we different?</div>

   <div class="bs p-5 rw50 cornered secondary-t">

            <div class="content" style="text-align:center;">
            <h4 style="color:#654321;">Open platform for all</h4>
            <p>In pursuit of our ambitious aim to include all the clothing in the world, we have adopted an open listing approach. This means that if you've recently launched your own clothing brand, you're welcome to feature your products on our platform. While maintaining an open platform has its advantages, it can also introduce various quality concerns. To uphold the integrity of our website, all submissions must adhere to our <%=link_to "guidelines", guideline_path, class:"s-link"%>. Additionally, we've introduced a <%=link_to "badge system", badges_path, class:"s-link" %> to simplify the process of sifting through the extensive collection of clothing available.
            </p>

            <div class="content" style="text-align:center;">
            <h4 style="color:#654321;">No fees per Click/Purchase</h4>
            <p>
            Many listing sites opt for monetization strategies such as fees per click and fees per purchase. While these approaches may seem practical in theory, they often come at the expense of the user experience. Fee per purchase websites can be notably sluggish,, while fee per click platforms tend to annoy users with excessive emails in an effort to maximize clicks.
               <br/>
               <br/>
            Instead on Mokkalog, It will be one time payment to create brands & list your clothing on our site.

            <div class="content" style="text-align:center;">
            <h4 style="color:#654321;">Coexsisting in the current fashion Ecosystem</h4>
            <p>In recent years, prominent fashion platforms have gained recognition for delivering exceptional services. Attempting to duplicate these established services would be a futile endeavor. Our goal is to cultivate a platform that thrives in synergy with these existing websites. For instance, users will have the ability to access real-time StockX pricing for products, or if users intend to sell a specific item, they can submit their Depop or Grailed links. Of course other fashion e-commerce websites can submit their links also.
            </p>

            <h4 style="color:#654321;">Emerging Brands</h4>
            <p>
  During our inception, one of our core values has been to shine a spotlight on emerging brands and underappreciated designers. Our mission is to empower these brands, enabling them to unlock their full potential and garner visibility among a broader audience. We are eager to hear your thoughts on how we can enhance this website and make it an even more valuable resource. Your feedback is highly valued and appreciated.
            </p>
       </div>
   </div>

   <br />
   <div class="d-none">
   <div class="mt-5 title is-4">Follow Us.</div>
   <div class="bs p-5 rw50 center">
      <a href="" ><i class="fa-brands fa-instagram fa-lg" style="color:#654321;"></i></a>
      <a href="" ><i class="fa-brands fa-discord fa-lg" style="color:#654321;"></i></a>
   </div>
   </div>
   </section>


