   <section class="section is-medium prime">
      <div class="center title is-4">about</div>
      <hr class="bst" />
   </section>

   <section class="section lgrey center-down">
   
   <div class="bs p-5 rw50">
      <div class="center subtitle" style="text-align:center;">
         <div>
         Mokka is a fashion platform to discover small brands, browse interesting clothes, and engage in fashion discussions. <span>We aim to provide a platform where we can bring small brands together and give them visibility and tools to grow.</span>
       </div>
      </div>
   </div>

   <br />

   <div class="mt-5 title is-4">Our Values</div>

   <div class="bs p-5 rw50">
      <div class="content" style="text-align:center;">

            <h4>Database curated by you</h4>
            <p>At Mokka, we are working hard to hand pick great brands to showcase on our site. Maybe you have found a piece or a brand that you believe deserves recognition. Maybe you create a clothing for fun. Everyone has the access to upload clothing of their choice, and all type of clothes are welcome here.
            </p>
            <h4>Centralize Fashion Marketplaces</h4>
            <p>
               The fashion tech industry already has many reputable names such as StockX, Grailed, and Amazon. Instead of creating a platform that tries to compete with them. We are trying to make a platform that can coexist in the current fashion ecosystem. In the future, if you want to search our clothing at a different website, we want it to be one click away.
            </p>
            <h4>Brand Growth</h4>
            <p>
               One of our goals of this platform is for small brands to grow and give access to a bigger audience. We cannot grow unless the brands on our platform is growing. Please let us know how we can improve this platform or any features you would like to see. 
            </p>
            

      </div>
   </div>

   <br />
   <div class="d-none">
   <div class="mt-5 title is-4">Follow Us.</div>
   <div class="bs p-5 rw50 center">
      <a href="" ><i class="fa-brands fa-instagram fa-lg" style="color:#654321;"></i></a>
      <a href="" ><i class="fa-brands fa-discord fa-lg" style="color:#654321;"></i></a>
   </div>
   </div>
   </section>


