   <section class="section is-medium prime section-corner-top">
      <div class="center title is-4">about</div>
      <hr class="bst" />
   </section>

   <section class="section lgrey center-down">
   
   <div class="bs p-5 rw50">
      <div class="center subtitle" style="text-align:center;">
         <div>
            Mokka is an open archive for clothing. We are dedicated to curating pieces from emerging brands and innovative pieces that are impacting the industry. We wish Mokka can be a platform to discover underappreciated brands and find inspiration.
       </div>
      </div>
   </div>

   <br />

   <div class="mt-5 title is-4">Our Values</div>

   <div class="bs p-5 rw50">
      <div class="content" style="text-align:center;">
            <h4>Preserving Our History</h4>
            <p>Big brands have their own archives, but clothing from small brands or individual designers will be lost to the annals of history if not preserved. Also with the rise of AI technology, I believe it is more important than ever to preserve what humans have made. Mokka is a platform where clothing by the people can be documented for the future generation.
            </p>

            <div class="content" style="text-align:center;">
            <h4>Supporting Emerging Brands</h4>
            <p>We want Mokka to be a platform where small brands can grow. Hopefully, this can be a platform where we can give visibility to underappreciated brands and showcase them to a bigger audience. In the future we want to focus on providing resources for growing brands.
            </p>

            <h4>Database curated by You</h4>
            <p>
               This is an open database that doesn't discriminate against any fashion style nor brandless clothing. If you are a student in designer school or a hobbyist who picked up sewing, we welcome you to preserve your clothing on Mokka. 
            </p>

            <h4>Sustainability</h4>
            <p>
              One thing we support is the trend of going sustainable in fashion. So we would like to dedicate informing the consumers about the latest sustainable technology in fashion and shine a light on brands that are actually sustainable instead of just buying sustainable certification. 
            </p>
       </div>
   </div>

   <br />
   <div class="d-none">
   <div class="mt-5 title is-4">Follow Us.</div>
   <div class="bs p-5 rw50 center">
      <a href="" ><i class="fa-brands fa-instagram fa-lg" style="color:#654321;"></i></a>
      <a href="" ><i class="fa-brands fa-discord fa-lg" style="color:#654321;"></i></a>
   </div>
   </div>
   </section>


