   <section class="section is-medium prime section-corner-top">
      <div class="center title is-4">about</div>
      <hr class="bst" />
   </section>

   <section class="section lgrey center-down">
   
   <div class="bs p-5 rw50 cornered">
      <div class="center subtitle secondary-t" style="text-align:center;">
         <div>
            Mokkalog is a fashion platform where we strive to have listing of all the clothing from all corners of the world. This give users the opportunity to compare unlimited amount of clothing in the market even from brands that they have never heard before.
       </div>
      </div>
   </div>

   <br />

   <div class="mt-5 title is-4" style="color:#654321;">How are we different?</div>

   <div class="bs p-5 rw50 cornered secondary-t">

            <div class="content" style="text-align:center;">
            <h4 style="color:#654321;">Open platform for all</h4>
            <p>To reach our goal of having all the clothing in the world in our catalog, we have made our listing open to all. This means if you started a brand today, you can list your clothing on our platform. Open platform can invite lot of tasteless behaviors, for the integrity of the website submission must follow the guideline & we have implemented a <%=link_to "badge system", badges_path, class:"s-link" %> to easily sort through countless amount of clothing.  
            </p>

            <div class="content" style="text-align:center;">
            <h4 style="color:#654321;">No fees per Click/Purchase</h4>
            <p>
               Most listing sites monetize by having fee per click & fee per purchase. While these solutions might be efficient on paper, but it takes a toll on customer's experience. Fee per purchase website are incredibly slow.
               <br/>
               <br/>
               Instead on Mokkalog, It will be one time payment to list your clothing on our site.

            <div class="content" style="text-align:center;">
            <h4 style="color:#654321;">Coexsisting in the current fashion Ecosystem</h4>
            <p>In recent decades, excellent fashion platforms have established their name & provided great services. It would be a waste of time trying to recreate the services that these platforms already provide. We want to create a platform that can live living harminous with these websites. For example, Users will be able to see the current StockX price for the product or if users are willing to sell a certain product they can submit their depop or grailed link. 
            </p>

            <h4 style="color:#654321;">Emerging Brands</h4>
            <p>
            This idea of this platform was conceived with one goal in mind, shining a bright light on fashion brands that are underappreciated & helping designers reach their dream one day. We want to help brands to reach their full potential and hopefully give visibility to a bigger audience. We want to hear your idea how we can improve this website. We would appreciate your feedback.
            </p>
       </div>
   </div>

   <br />
   <div class="d-none">
   <div class="mt-5 title is-4">Follow Us.</div>
   <div class="bs p-5 rw50 center">
      <a href="" ><i class="fa-brands fa-instagram fa-lg" style="color:#654321;"></i></a>
      <a href="" ><i class="fa-brands fa-discord fa-lg" style="color:#654321;"></i></a>
   </div>
   </div>
   </section>


