
   <section class="section is-medium prime section-corner-top">
      <div class="center title is-4 secondary-t">badges</div>
      <hr class="bst" />
   </section>

   <section class="section lgrey center-down">
   
   <div class="bs p-5 rw50 cornered">
      <div class="center subtitle" style="text-align:center;">
         <div>
            As our catalog continues to grow with each new addition, the task of navigating through the ever-increasing variety of clothing items becomes increasingly challenging. To simplify this process, we have introduced badges to help categorize the clothing.
            <br/>
            Badges are only avaliable for brands that are in our verified system. 
       </div>
      </div>
   </div>

   <br />

   <div class="mt-5 title is-4 secondary-t">Current Badges</div>

   <div class="bs p-5 rw50 cornered">
      <div class="content" style="text-align:center;">
            <h4> <i class="fa-solid fa-circle-check fa-2xl" style="color:#654321;"></i></h4>
            <p>Brands sporting the verification badge have undergone verification by Mokkalog administrators. This verification signifies that the brand is genuine. Navigating through brands with verification badges carries no risks.
            </p>

            <div class="content" style="text-align:center;">

            <h4><i class="fa-solid fa-mug-saucer fa-2xl mt-2 myellow"></i></h4>
            <p>
               The Golden Mug is exclusively awarded to brands that have demonstrated greatness, the use of high-grade materials, innovative creations, and establishment within the industry. Brands adorned with the Golden Mug come highly recommended, and their quality is assured by the Mokka Team. Extensive research is conducted by our team before giving this badge to a brand."
            </p>

            <h4><i class="fa-solid fa-seedling fa-2xl mt-2 mgreen"></i></h4>
            <p>
               At Mokkalog, we are deeply committed to sustainability. While many brands may jump on the sustainability trend for financial gain, we are dedicated to awarding our sustainability badges to brands that genuinely embody the principles of sustainability. To qualify for this badge, brands must demonstrate their commitment through the use of recycled materials, a portion of their proceeds directed towards environmental causes, or possession of accredited sustainability certificates.
            </p>

            <h4><i class="fa-solid fa-scissors fa-2xl mt-2 mred"></i></h4>
            <p>The Ruby Scissor is awarded to brands that exclusively produce handmade items. To qualify for this badge, proof of the clothing's handmade nature must be provided for verification.
            </p>

            <h4 style="color:#654321;">More on the way...</h4>

       </div>
   </div>

   <br />
   <div class="d-none">
   <div class="mt-5 title is-4">Follow Us.</div>
   <div class="bs p-5 rw50 center">
      <a href="" ><i class="fa-brands fa-instagram fa-lg" style="color:#654321;"></i></a>
      <a href="" ><i class="fa-brands fa-discord fa-lg" style="color:#654321;"></i></a>
   </div>
   </div>
   </section>


