   <section class="section is-medium prime section-corner-top">
      <div class="center title is-4">badges</div>
      <hr class="bst" />
   </section>

   <section class="section lgrey center-down">
   
   <div class="bs p-5 rw50 cornered">
      <div class="center subtitle" style="text-align:center;">
         <div>
            As more and more clothing are added to the archive. It is going to get harder and harder to navigate through countless amount of clothing. We have implemented badges to easily categorize the clothing.
            <br/>
            The badges can only be implemented by the moderators, so you don't need to worry about the validity.
       </div>
      </div>
   </div>

   <br />

   <div class="mt-5 title is-4">Current Badges</div>

   <div class="bs p-5 rw50 cornered">
      <div class="content" style="text-align:center;">
            <h4> <i class="fa-solid fa-circle-check fa-2xl" style="color:#654321;"></i></h4>
            <p>Brands with the verification badge were verified by admins of Mokkalog. This means they are legit, quality material, and can browse & purchase safely. 
            <br/><br/>
            Clothing with the verification badge means that the uploader of the clothing & uploader of the brand matches(The brand must be verified also) 
            </p>

            <div class="content" style="text-align:center;">
            <h4><i class="fa-solid fa-scissors fa-2xl mt-2" style="color: #ff0000;"></i></h4>
            <p>The hand made badge is given to brands that are hand made. Proof of the clothing being hand made must be submitted to recieve this badge.
            </p>

            <h4><i class="fa-solid fa-seedling fa-2xl mt-2" style="color: #18c95c;"></i></h4>
            <p>
               At Mokkalog, we take sustainability seriously. Many brands are hopping on the sustainable trend as a cash grab, but we want to give out these badges to brands that really captures the element of sustainability. To receive this badge brands must use recycled material, percentage of proceed going to enviromental cause, or a accredited certificates.
            </p>

            <h4>More on the way...</h4>

       </div>
   </div>

   <br />
   <div class="d-none">
   <div class="mt-5 title is-4">Follow Us.</div>
   <div class="bs p-5 rw50 center">
      <a href="" ><i class="fa-brands fa-instagram fa-lg" style="color:#654321;"></i></a>
      <a href="" ><i class="fa-brands fa-discord fa-lg" style="color:#654321;"></i></a>
   </div>
   </div>
   </section>


