<section class="section is-lg center-down lgrey" style="min-height:700px;">
	<div class="title is-1 secondary-t">Contact Us</div>
	<div class=" rw70" style="text-align:center;">Interested in what we are doing at Mokkalog? Please reach out to us, we need all the help we can get. If you are a small brand and are interested in collaborating with us, please let us know! We're looking forward to hearing from you!</div>
	<br/>
	<br/>
	<div style="text-align:center;"><strong>inquiry@mokkalog.com</strong></div>
	<br/>
	<%= mail_to "inquiry@mokkalog.com", "Contact Us", class:"mokka-btn btn-warning"%>
</section>