<section class="section is-lg center-down lgrey" style="min-height:700px;">
	<div class="title is-1">Contact Us</div>
	<div class=" rw70" style="text-align:center;">We invite all brands interested in collaborating with us to get in touch! If you're interested in partnering with our team, please let us know, and we'll be happy to explore potential opportunities together. We're looking forward to hearing from you!</div>
	<br/>
	<div>For those who have noticed their brand featured on our site and wish to claim ownership, we encourage you to reach out to us here.</div>
	<br/>
	<div style="text-align:center;"><strong>inquiry@mokkalog.com</strong></div>
	<br/>
	<%= mail_to "inquiry@mokkalog.com", "Contact Us", class:"button is-warning"%>
</section>