<div class="taller">
	<div class="center title is-4 secondary-t mt-2">
		Welcome to the demo!
	</div>

	<div class="mx-auto text-center rw50">
		The purpose of this account is to demonstrate User Onboarding Experience
		<br/>
		<br/>
		Any information you input will be deleted at the end of session, if you would like to save your information please create an account.
		<br/>
		<br/>
		This project was made using Ruby on Rails 7, Hotwire, Heroku, AWS, and Postgres
		<br/>
		<br/>
		If you would like access to github repo please reach out to owner.
	</div>
	<div class="center mt-2">
		<%=link_to 'User onboarding Demo', after_sign_up_path(:username), class:"mokka-btn btn-warning"%>

	</div>

</div>