
<section class="section is-medium prime section-corner-top">
  <div class="center title is-4 secondary-t">Guideline</div>
  <hr class="bst" />
</section>

<section class="section lgrey center-down">

<div class="bs p-5 rw50 cornered">
  <div class="center subtitle" style="text-align:center;">
     <div>
		Coming Soon
   </div>
  </div>
</div>
</section>