
<section class="section is-medium prime section-corner-top">
  <div class="center title is-4 secondary-t">Guideline</div>
  <hr class="bst" />
</section>

<section class="section lgrey center-down">

<div class="bs p-5 rw50 cornered">
  <div class="ml-5">
  <div>
    Mokkalog is an open listing platform so when uploading please adhere to our rule. Repeated offense will result in suspension & permanent ban.
    <br/><br/> 
  </div>
  <div>1. No impersonation of a brand that isn't yours.</div>
  <div>2. No Copyright materials or beligerent copy of other designers.</div>
  <div>3. No low effort products. This will be up to the moderators.</div>
  <div>4. No clothing that has implication of hate speech to a group of people.</div>
  <div>5. No nudity</div>
  <div>6. Upload apparel only</div>
  </div>
</div>
</section>