<section class="section is-medium prime bp">
  <div class="title is-3 center">welcome</div>
</section>

<section class="section lgey">
  <div class="center title is-4 m-3">#1 Catalog in the World.</div>
  <br />
  <div  class="center">
    <%= render 'posts/components/searchbar_for_root'%>
  </div>
</section>



<section class="section lgrey">
<div class="title is-4 my-2">Trending</div>
<section class="bp flexed-wc">
  <% @posts_hot.each do |post| %>
      <div class=""><%= render post %></div>
  <% end %>
</section>

<div class="title is-4 my-2">Recently Added</div>
<section class="bp flexed-wc">
  <% @posts_latest.each do |post| %>
      <div class=""><%= render post %></div>
  <% end %>
</section>





    



</section>