<section class="section">
	<div class="center title is-3 secondary-t text-center">What brings you to Mokkalog?</div>

</section>

<section class="section columns">
	<div class="column bs cornered lgrey m-4">
		<div class="title is-4 secondary-t">Browse</div>
		<div class="content">
		<ul>
			<li>Discover new growing brands</li>
			<li>Get recommendations based on your likes</li>
			<li>Customize your Profile Page (Click Profile!)</li>
			<li>Exclusive discounts from our partners!</li>
		</ul>
		</div>
		<div><%=link_to "Start exploring", root_path, class:"button is-warning bold", style:"border: 1px solid #654321;"%></div>
	</div>
	<div class="column bs cornered lgrey m-4">
		<div class="title is-4 secondary-t center">Brand Owner</div>
		<div class="content">
		<ul>
			<li>Upload your clothing to a wider audience</li>
			<li>Find resources for small & growing brands</li>
			<li>Find potential brands & creators who are open to collaboration</li>
			<li>Become part of Mokkalog Partner Program</li>
		</ul>
		</div>
		<div><%=link_to "Brand Onboarding", brand_onboarding_path, class:"button is-warning bold", style:"border: 1px solid #654321;"%></div>
	</div>


</section>


<section class="flexed">

</section>
   