<section class="section">
	<div class="center title is-3 secondary-t text-center">Please choose one of the options that best fits you</div>

</section>

<section class="section columns">
	<div class="column center p-4">
		<div class="lgrey bs p-2 cornered content" style="width:400px;height:350px;">
			<h2 style="color:#654321;">User</h2>
			<ul>
				<li>I want to look through your catalog & discover new brands</li>
				<li>I own a clothing, and I would like to list it</li>
				<li>I want to customize my personal page</li>
				<li>Start liking clothing & brand to shop clothing you like</li>
				<li>I want to add my own lookbook(coming soon)</li>
			</ul>
			<div><%=link_to "Start exploring", root_path, class:"button is-warning bold", style:"border: 1px solid #654321;"%></div>
		</div>
	</div>

	<div class="column center p-4">
		<div class="lgrey bs p-2 cornered content" style="width:400px;min-height:350px;">
			<h2 style="color:#654321;">Brand Owners</h2>
			<ul>
				<li class="bold">list my clothing for a wider audience</li>
				<li>Find resources for small & growing brands</li>
				<li>Meet new brands that are open to collaborating</li>
				<li>Find potential influencers who are open to collaboration</li>
				<li>Obtain badges for better SEO</li>
				<li>I want to be a mokkalog partner</li>
			</ul>
			<%=link_to "Brand Onboarding", brand_onboarding_path, class:"button is-warning bold", style:"border: 1px solid #654321;"%>
		</div>
	</div>
</section>


<section class="flexed">

</section>
   