

<section class="section is-medium prime section-corner-top">
  <div class="center title is-4 secondary-t">Styles</div>
  <hr class="bst" />
</section>


<p style="color: green"><%= notice %></p>



<section class="section flexed-wc">

  <% @styles.each do |style| %>
    <%= render style%>
  <% end %>

</section>

