<div class="center">
  <div class="notification rw70 desc-box content bs">
     <h2 style="color:#654321;"><u>Description</u></h2>
     <div class="notification has-background-white"><%= @post.body%></div>
  </div>
  </div>