/*BRAND*/
.brand-partial-container{
	min-height:400px;
	background-color:white;
}
.brand-about{min-height:300px;}
.brand-card{width:250px; height:305px;}
.brand-card-home{width:250px;}
.brand-info-card{height:120px;}

.banner{width:100%;height:450px;}
.banner-img{width:100%;height:auto;}
.bottom-border{border-bottom-color:#cbb595;}
.is-active-prime{color:#654321; font-weight:bold;}

/*POST_IMAGE_HOLDER*/
.image-small{
	width:80px;
	height:80px;
	cursor: pointer;
}

.image-select{opacity:0.4;}



/*BLOG*/

/*BLOGS-index*/
.blog-pinned-section{min-height:200px;}
.blog-section{}
.blog-long{min-height:150px;}
.blog-title{text-decoration:none;color:black;}
.blog-image{width:331px;height:248px;}
.blog-height{height:300px;}

/*BLOG INDEX*/
.blog_main_image{width:620px;height:420px;}
.blog_vertical_border{height:400px;}
.blog_small_image{width:236px;height:160px;}
.blog_home_image{width:570px;height:350px;}
.desktop-flexed{display:flex;}


@media (max-width: 480px){
	.brand-card{width:170px; height:240px;}
	.brand-card-home{width:140px;}
	.blog_main_image{width:100%;height:160px;}
	.blog_small_image{width:150px;height:80px;}
	.blog_home_image{width:360px;height:200px;}
	.desktop-flexed{display:block;}
	.blog_vertical_border{height:0px;}



}