.wardrobe-m {
  position: relative;
  width:350px;
  height:437.5px;
  background-color: #5c3b11;
  border:10px solid #b0712d;
  box-shadow: inset -5px 5px 25px rgba(0,0,0,0.5);
  transform-style: preserve-3d;
	transform: perspective(2500px);
  cursor: pointer;
}

.wardrobe-m:hover .door-m {
  transform: rotateY(-160deg);
}

.wardrobe-m:hover .door-m:before {
  display: none;
}

.wardrobe-m:hover .second-door-m {
  transform: rotateY(160deg);
}

.wardrobe-m:hover .second-door-m:before {
  display: none;
}
.wardrobe-m:before {
  content:"";
  position: absolute;
  width: 20px;
  height:17px;
  background-color: #8a5924;
  top:428px;
  border-radius: 0 0 5px 5px;
  box-shadow: 310px 0 #8a5924;
}

.wardrobe-m:after {
  content:"";
  position: absolute;
  height:0;
  width:360px;
  border-bottom: 15px solid transparent;
  border-top: 15px solid #8a5924;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  top:-25px;
  left:-15px;
}

.inside-m {
  positon: absolute;
  top:0;
  left:0;
  height:400px;
}

.rail-m {
  position: absolute;
  width:330px;
  height:8px;
  background-color: #d3cfc7;
  top:65px;
  box-shadow: inset 0 -3px rgba(0,0,0,0.3), 0 -20px #8a5924, 0 290px #8a5924;
}

.rail-m:before {
  content:"";
  position: absolute;
  width:70px;
  height:10px;
  border-radius:10px;
  background-color: #8cbf49;
  top:-30px;
  left:35px;
  box-shadow: 5px -10px white, 90px 0 #2a85ad, 90px -10px #e96c1a, 90px -20px #d095c0;
}

.rail-m:after {
  z-index: -1;
  content:"";
  position: absolute;
  width:100px;
  height:30px;
  background-color: #97a4ad;
  box-shadow: inset 0 10px rgba(0,0,0,0.3);
  top:320px;
  left:3px;
}

.front-m {
  position: relative;
  z-index:1;
}

.door-m, .second-door-m {
  position: absolute;
  width: 165px;
  height: 417.5px;
  background-color: #8a5924;
  top:0;
  transition: .5s;
  z-index:5;
}

.door-m {
  transform-origin: left;
  box-shadow: inset 1px 0 10px rgba(0,0,0,0.3);
  left:0;
}

.door-m:before, .second-door-m:before {
  content:"";
  position: absolute;
  width:5px;
  height:20px;
  background-color: #333;
  border-radius:5px;
  top:115px;
}

.door-m:before {
  left:150px;
}

.second-door-m {
  left:165px;
  transform-origin: right;
  box-shadow: inset 1px 0 rgba(0,0,0,0.3), inset -1px 0 10px rgba(0,0,0,0.3);
}

.second-door-m:before {
  left:10px;
}

.shadow-m {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  width:365px;
  height:30px;
  border-radius:50%;
  top:430px;
  left:-10px;
  z-index:-1;
}
  
.boots-m, .boots-m:after {
  position: absolute;
  width: 50px;
  height: 25px;
  border-radius: 0 30px 0 0;
}

.boots-m {
  box-shadow: inset 0 -5px #d3d3d3;
  left:250px;
  background-color: red;
  top:390px;
}

.boots-m:after {
  content:"";
  left:-25px;
  background-color: red;
  box-shadow: inset 0 -5px white;
}

.boots-m:before {
  content:"";
  position: absolute;
  width:20px;
  height:20px;
  background-color: red;
  top:-10px;
  left:-25px;
  box-shadow:25px 0 red;
}



.z{z-index: -1}