
.wardrobe {
  position: relative;
  width:1000px;
  height:600px;
  background-color: #5c3b11;
  border:10px solid #b0712d;
  box-shadow: inset -5px 5px 25px rgba(0,0,0,0.5);
  transform-style: preserve-3d;
  transform: perspective(2500px);
  cursor: pointer;
}

.wardrobe:hover .door {
  transform: rotateY(-160deg);
}

.wardrobe:hover .door:before {
  display: none;
}

.wardrobe:hover .second-door {
  transform: rotateY(160deg);
}

.wardrobe:hover .second-door:before {
  display: none;
}
.wardrobe:before {
  content:"";
  position: absolute;
  width: 20px;
  height:10px;
  background-color: #8a5924;
  bottom:-20px;
  border-radius: 0 0 5px 5px;
  box-shadow: 950px 0 #8a5924;
}

.wardrobe:after {
  content:"";
  position: absolute;
  height:0;
  width:1010px;
  border-bottom: 15px solid transparent;
  border-top: 15px solid #8a5924;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  top:-25px;
  left:-15px;
}



.rail {
  position: absolute;
  width:100%;
  height:8px;
  background-color: #d3cfc7;
  top:25px;
  box-shadow: inset 0 -3px rgba(0,0,0,0.3), 0 250px #8a5924, 0 535px #8a5924;
}

.rail:before {
  content:"";
  position: absolute;
  width:70px;
  height:10px;
  border-radius:10px;
  background-color: #8cbf49;
  top:-9px;
  left:35px;
  box-shadow: 5px -10px white, 700px 0 #2a85ad, 700px -10px #e96c1a, 90px 0 #d095c0;
}

.closet-text{
  position: absolute;
  color: white;
  left:200px;
  top:250px;

}



.front {
  position: relative;
  z-index:1;
}

.door, .second-door {
  position: absolute;
  width: 500px;
  height: 580px;
  background-color: #8a5924;
  top:0;
  transition: .5s;
  z-index:5;
}

.door {
  transform-origin: left;
  box-shadow: inset 1px 0 10px rgba(0,0,0,0.3);
  left:0;
}

.door:before, .second-door:before {
  content:"";
  position: absolute;
  width:5px;
  height:20px;
  background-color: #333;
  border-radius:5px;
  top:115px;
}

.door:before {
  right:45px;
}

.second-door {
  left:480px;
  transform-origin: right;
  box-shadow: inset 1px 0 rgba(0,0,0,0.3), inset -1px 0 10px rgba(0,0,0,0.3);
}

.second-door:before {
  left:25px;
}

.shadow {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  width:420px;
  height:70px;
  border-radius:50%;
  bottom:50px;
  left:230px;
  z-index:-1;
}
  
.boots, .boots:after {
  position: absolute;
  width: 50px;
  height: 25px;
  border-radius: 0 30px 0 0;
}

.boots {
  box-shadow: inset 0 -5px #d3d3d3;
  left:140px;
  background-color: black;
  top:225px;
}

.boots:after {
  content:"";
  left:-25px;
  background-color: #161a1d;
  box-shadow: inset 0 -5px white;
}

.boots:before {
  content:"";
  position: absolute;
  width:20px;
  height:20px;
  background-color: #161a1d;
  top:-10px;
  left:-25px;
  box-shadow:25px 0 black;
}

.hangers {
  position: absolute;
  width:3px;
  height:20px;
  border-radius: 5px 5px 0 0;
  background-color: #6c757d;
  top:62px;
  left:20px;
  box-shadow: 15px 0 #6c757d, 35px 0 #6c757d, 55px 0 #6c757d, 80px 0 #6c757d, 95px 0 #6c757d;
}

.hangers:before {
  content:"";
  position: absolute;
  width:15px;
  height:100px;
  background-color: #d6b109;
  top:20px;
  left:-6px;
  border-radius:30% 30% 5px 5px;
  box-shadow: 15px 0 #60a6ab, 15px 10px #60a6ab, 35px 0 #80579b, 55px 0 #7ba53a, 55px 15px #d795c1, 80px 0 #cc0e2d, 95px 0 #fffaff;
}

.scarf {
  position: absolute;
  width: 25px;
  height: 60px;
  background-color: #a4161a;
  top:73px;
  left:160px;
}

.scarf:before {
  content:"";
  position: absolute;
  background-color: #ba181b;
  width:25px;
  height: 90px;
  top:-11px;
  left:-10px;
  border-radius:3px 3px 0 0;
}

.scarf:after {
  content:"";
  position: absolute;
  width:1px;
  height:10px;
  background-color: #ba181b;
  top:77px;
  left:-8px;
  box-shadow: 5px 0 #ba181b, 10px 0 #ba181b, 15px 0 #ba181b,20px 0 #ba181b,26px -19px #a4161a, 31px -19px #a4161a;
}

/*Mobile*/
.wardrobe-m {
  position: relative;
  width:350px;
  height:437.5px;
  background-color: #5c3b11;
  border:10px solid #b0712d;
  box-shadow: inset -5px 5px 25px rgba(0,0,0,0.5);
  transform-style: preserve-3d;
	transform: perspective(2500px);
  cursor: pointer;
}

.wardrobe-m:hover .door-m {
  transform: rotateY(-160deg);
}

.wardrobe-m:hover .door-m:before {
  display: none;
}

.wardrobe-m:hover .second-door-m {
  transform: rotateY(160deg);
}

.wardrobe-m:hover .second-door-m:before {
  display: none;
}
.wardrobe-m:before {
  content:"";
  position: absolute;
  width: 20px;
  height:17px;
  background-color: #8a5924;
  top:428px;
  border-radius: 0 0 5px 5px;
  box-shadow: 310px 0 #8a5924;
}

.wardrobe-m:after {
  content:"";
  position: absolute;
  height:0;
  width:360px;
  border-bottom: 15px solid transparent;
  border-top: 15px solid #8a5924;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  top:-25px;
  left:-15px;
}

.inside-m {
  positon: absolute;
  top:0;
  left:0;
  height:400px;
}

.rail-m {
  position: absolute;
  width:330px;
  height:8px;
  background-color: #d3cfc7;
  top:65px;
  box-shadow: inset 0 -3px rgba(0,0,0,0.3), 0 -20px #8a5924, 0 290px #8a5924;
}

.rail-m:before {
  content:"";
  position: absolute;
  width:70px;
  height:10px;
  border-radius:10px;
  background-color: #8cbf49;
  top:-30px;
  left:35px;
  box-shadow: 5px -10px white, 90px 0 #2a85ad, 90px -10px #e96c1a, 90px -20px #d095c0;
}

.rail-m:after {
  z-index: -1;
  content:"";
  position: absolute;
  width:100px;
  height:30px;
  background-color: #97a4ad;
  box-shadow: inset 0 10px rgba(0,0,0,0.3);
  top:320px;
  left:3px;
}

.front-m {
  position: relative;
  z-index:1;
}

.door-m, .second-door-m {
  position: absolute;
  width: 165px;
  height: 417.5px;
  background-color: #8a5924;
  top:0;
  transition: .5s;
  z-index:5;
}

.door-m {
  transform-origin: left;
  box-shadow: inset 1px 0 10px rgba(0,0,0,0.3);
  left:0;
}

.door-m:before, .second-door-m:before {
  content:"";
  position: absolute;
  width:5px;
  height:20px;
  background-color: #333;
  border-radius:5px;
  top:115px;
}

.door-m:before {
  left:150px;
}

.second-door-m {
  left:165px;
  transform-origin: right;
  box-shadow: inset 1px 0 rgba(0,0,0,0.3), inset -1px 0 10px rgba(0,0,0,0.3);
}

.second-door-m:before {
  left:10px;
}

.shadow-m {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  width:365px;
  height:30px;
  border-radius:50%;
  top:430px;
  left:-10px;
  z-index:-1;
}
  
.boots-m, .boots-m:after {
  position: absolute;
  width: 50px;
  height: 25px;
  border-radius: 0 30px 0 0;
}

.boots-m {
  box-shadow: inset 0 -5px #d3d3d3;
  left:250px;
  background-color: red;
  top:390px;
}

.boots-m:after {
  content:"";
  left:-25px;
  background-color: red;
  box-shadow: inset 0 -5px white;
}

.boots-m:before {
  content:"";
  position: absolute;
  width:20px;
  height:20px;
  background-color: red;
  top:-10px;
  left:-25px;
  box-shadow:25px 0 red;
}



.z{z-index: -1}