.small-post{
width:200px;
margin-left:0.5em;
margin-right:0.5em;
}

.collection-image-grid{
	display:grid;
	grid-template-columns: repeat(3, 1fr);

}
.collection-card{display:flex;flex-wrap:wrap;justify-content:center;}
.collection-last-box{
	display:flex;
	width:110px;
	height:110px;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-direction:column;
}
.collection-like{
	bottom:-5px;
	right:-20px;
}

@media (max-width: 480px){
	.small-post{width:80%; margin-left:auto;margin-right:auto;}
	.collection-card{display:block;}
	.collection-last-box{width:110px; height:110px;}
	.collection_image{width:100%;}


}