.dashboard-top{height:180px;}
.yellow-bottom{background: linear-gradient(to bottom, transparent 90%, #ffd700 90%);}
.red-bottom{background: linear-gradient(to bottom, transparent 90%, #e63e62 90%);}
.blue-bottom{background: linear-gradient(to bottom, transparent 90%, #73a9c2 90%);}


.huge-font{font-size:80px;}
.square-cdhart{width:200px;}


.dashboard-menu{
	width:200px;
	float:left;
	min-height:600px;
	background-color:#cbb595;
}

.dashboard-menu-list li{
	cursor:pointer;
}

.dashboard-main{
	margin-left:205px;
}

.dash-link{
	color:#654321;

}

.dash-link:hover{
	font-weight: bold;
	color:#654321;
}

.dashboard-notif{
	height:300px;
	width:80%;

	
}

@media (max-width: 480px) {
  .dashboard-menu{
    display:none;
  }
  .dashboard-main{margin-left:0px;}
}