.dashboard-top{height:180px;}
.yellow-bottom{background: linear-gradient(to bottom, transparent 90%, #ffd700 90%);}
.red-bottom{background: linear-gradient(to bottom, transparent 90%, #e63e62 90%);}
.blue-bottom{background: linear-gradient(to bottom, transparent 90%, #73a9c2 90%);}


.huge-font{font-size:80px;}
.square-cdhart{width:200px;}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 5 columns with equal width */

}
.dashboard-column{
  height:210px;
}

.badge-h{
  height:70px;
}
.dashboard-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color:#ffe08a;
  width:80px;
  height:80px;
  color: #5A3A31;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #5A3A31;
  position:relative;
}

.dashboard-icon{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.dash-link{
	color:#654321;

}

.dash-link:hover{
	font-weight: bold;
	color:#654321;
}

.dashboard-notif{
	height:300px;
	width:80%;

	
}
}