.dashboard-top{height:180px;}
.yellow-bottom{background: linear-gradient(to bottom, transparent 90%, #ffd700 90%);}
.red-bottom{background: linear-gradient(to bottom, transparent 90%, #e63e62 90%);}
.blue-bottom{background: linear-gradient(to bottom, transparent 90%, #73a9c2 90%);}


.huge-font{font-size:80px;}
.square-cdhart{width:200px;}