/* Style the checkbox container */



.mgreen{color:#95cbb5;}
.mgreen{color:#95cbb5;}
.mbeige{color:#cbb595;}
.myellow{color:#ffd700;}
.molive{color:#556b2f;}
.mlolive{background-color:#7fa046; color:white;}
.mred{color:#e63e62;}

.mblue{color: #73a9c2;}
.green-btn{background-color:#95cbb5;color:#206644;}
.red-btn{background-color:#e63e62;color:white;}
.red-btn:hover{color:#e6ded2;}


.filter-holder{width:80px;}
.filter-dropdown-box{width:50vw;}

.multi-dd-item{height:40px;border-bottom: 2px solid #654321;}
.dd-content{border-bottom: 2px solid #654321;}


.tabs.is-toggle li.is-active a {
  background-color: #cbb595;
  border-color: #654321;
  color: #654321;
  z-index: 1;
}
.tabs.is-toggle li a {
  color: #654321;
  border-color: #654321;
  z-index: 1;
}



.m-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 2px; /* Adjust the padding to make the container wider */
  margin-right: 2px;
  cursor: pointer;
}

/* Hide the default checkbox */
.m-checkbox input {
  display: none;
}

/* Style the custom checkbox */
.m-checkmark {
  position: absolute;
  top: -10px; /* Increase this value to move the checkbox further up */
  left: 0;
  min-width: 60px; /* Adjust the width as needed */
  padding: 2px 4px 2px 4px;
  background-color: #f5f5f5;
  color: #654321;
  border: 2px solid #654321;
  border-radius: 3px;
  text-align: center;
  line-height: 20px; /* Adjust line height for vertical centering */
  font-size: 16px;
}

.center-checkmark{top:-15px; left:15px;}

/* Style the custom checkbox when it's checked */
.m-checkbox input:checked + .m-checkmark {
  background-color: #654321;
  color: #f5f5f5;
}

.longer-cbox{min-width: 200px;}
.mid-cbox{min-width:120px;}

/* Style the checkbox container */
.color-cbox {
  display: inline-block;
  position: relative;
  padding-left: 2px; /* Adjust the padding to make the container wider */
  margin-right: 2px;
  cursor: pointer;
}

/* Hide the default checkbox */
.color-cbox input {
  display: none;
}

/* Style the custom checkbox */
.color-cmark {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 60px; /* Adjust the width as needed */
  background-color: #f5f5f5;
  border-style:solid;
  border-width:2px;
  border-radius: 3px;
  text-align: center;
  line-height: 20px; /* Adjust line height for vertical centering */
  font-size: 16px;
}
.color-cbox input:checked + .color-cmark {
  color: #f5f5f5;
}

/* Style the custom checkbox when it's checked */
.color-filter-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns with equal width */
  height:150px;
  overflow:scroll;
  overflow-x: hidden;
}
.brand-filter-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 5 columns with equal width */
  height:150px;
  overflow:scroll;
  overflow-x: hidden;
}
.category-filter-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 columns with equal width */
  height:150px;
  overflow:scroll;
  overflow-x: hidden;
}
.style-filter-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns with equal width */
  height:150px;
  overflow:scroll;
  overflow-x: hidden;
}
.typegrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 5 columns with equal width */
  min-height:50px;
  gap: 0;
  width:234px;
}

.mainframe{height:150px;overflow:scroll;overflow-x:hidden;}

.badgegrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns with equal width */
  min-height:40px;
}

.main-filter-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns with equal width */
  min-height:40px;
}
.one-filter-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns with equal width */
  min-height:50px;
}
.two-filter-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 5 columns with equal width */
  column-gap:10px;
}
.five-filter-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns with equal width */
  column-gap:10px;
}


.Whitemark{color:#e6ded2;border-color:#e6ded2;}
.Whitebox input:checked + .Whitemark {background-color: #e6ded2;}
.Blackmark{color:black;border-color:black;}
.Blackbox input:checked + .Blackmark {background-color: black;}
.Bluemark{color:#73a9c2;border-color:#73a9c2;}
.Bluebox input:checked + .Bluemark {background-color: #73a9c2;}
.Redmark{color:#e63e62;border-color:#e63e62;}
.Redbox input:checked + .Redmark {background-color: #e63e62;color: #f5f5f5;}
.Yellowmark{color:#ffd700;border-color:#ffd700;}
.Yellowbox input:checked + .Yellowmark {background-color: #ffd700;color: #f5f5f5;}
.Greenmark{color:#95cbb5;border-color:#95cbb5;}
.Greenbox input:checked + .Greenmark {background-color: #95cbb5;color: #f5f5f5;}
.Orangemark{color:#ec8254;border-color:#ec8254;}
.Orangebox input:checked + .Orangemark {background-color: #ec8254;color: #f5f5f5;}
.Navymark{color:#344a6a;border-color:#344a6a;}
.Navybox input:checked + .Navymark {background-color: #344a6a;color: #f5f5f5;}
.Olivemark{color:#a4bfa1;border-color:#a4bfa1;}
.Olivebox input:checked + .Olivemark {background-color: #a4bfa1;color: #f5f5f5;}
.Beigemark{color:#cbb595;border-color:#cbb595;}
.Beigebox input:checked + .Beigemark {background-color: #cbb595;color: #f5f5f5;}
.Brownmark{color:#654321;border-color:#654321;}
.Brownbox input:checked + .Brownmark {background-color: #654321;color: #f5f5f5;}
.Greymark{color:Grey;border-color:Grey;}
.Greybox input:checked + .Greymark {background-color: Grey;color: #f5f5f5;}
.Pinkmark{color:#fd6c9e;border-color:#fd6c9e;}
.Pinkbox input:checked + .Pinkmark {background-color: #fd6c9e;color: #f5f5f5;}
.Cyanmark{color:#558aa2;border-color:#558aa2;}
.Cyanbox input:checked + .Cyanmark {background-color: #558aa2;color: #f5f5f5;}
.Tealmark{color:Teal;border-color:Teal;}
.Tealbox input:checked + .Tealmark {background-color: Teal;color: #f5f5f5;}
.Purplemark{color:#9f5f9f;;border-color:#9f5f9f;}
.Purplebox input:checked + .Purplemark {background-color: #9f5f9f;color: #f5f5f5;}
.SkyBluemark{color:#95ABCB;border-color:#95ABCB;}
.SkyBluebox input:checked + .Bluemark {background-color: #95ABCB ;}

.Multimark{color:#654321;border-color:#654321;}
.Multibox input:checked + .Multimark {background-color: #654321;color: #f5f5f5;}

@media (max-width: 480px){
  .category-filter-grid {grid-template-columns: repeat(2, 1fr);}
  .style-filter-grid {grid-template-columns: repeat(3, 1fr);}



}



