.post-form-box{
	border: 1px solid hsl(0, 0%, 86%);
	border-top:none;
}

.form-line{border: 1px solid hsl(0, 0%, 86%);}


.filter-label{
	border-radius: 45px;
	border: 2px solid #654321;
	padding:8px;

}

.dropdown-catalog {
  float: left;
  overflow:hidden;
}
.dropdown-content-catalog {
  display: none;
  left: 0;
  position: absolute;
  background-color: #f9f9f9;
  width:100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-catalog:hover .dropdown-content-catalog {
  display: block;
}