.mobile-closet{display:none;}
.profile_index_img{    
  height:100px;
  width:100px;
  border:3px solid #fff;
  border-radius:50%;
  background-color:grey;
  overflow:hidden;}

.closet{
	height:700px;
	background-color:#5c3b11;
	border: 10px solid #b0712d;
}

.closet-m{
  min-height:700px;
  background-color:#5c3b11;
  border: 10px solid #b0712d;
}


.closet_post{
  border-radius:4px;
  border:2px solid #cbb595;
}


/* CSS */
.button-74 {
  background-color: #cbb595;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fbeee0;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}




@media (min-width: 900px){.mobile-closet{display:none;}}

@media (max-width: 900px) {
  .poof-closet{display:none;}
  .mobile-closet{display:block;}
  .closet_post{
    width:140px;
  }

}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }

}

@media (max-width: 480px) {
  .closet_post{
    width:100px;
  }


}

@media (max-width: 380px) {
  .closet_post{
    width:80px;
  }


}

