<p style="color: green"><%= notice %></p>

<h1>Tags</h1>

<div id="tags">
  <% @tags.each do |tag| %>
    
    <p class="m-2">
      <%=tag.name%>|<%= link_to "Show this tag", tag %>|

    </p>
  <% end %>
</div>

<%= link_to "New tag", new_tag_path %>
