
<section class="section prime">
  <div class="title is-3">Tag:&nbsp;<%=@tag.name%></div>
</section>
<div class="notification">
  <%= link_to "Edit this tag", edit_tag_path(@tag) %> 
  <%= button_to "Destroy this tag", @tag, method: :delete %>
</div>
<%= render @tag %>



