
<% if page.current? %>
  <li>
    <%= content_tag :a, page, rel: page.rel, class: 'pagination-link prime has-text-white' %>
  </li>
<% else %>
  <li>
    <% data ||= {} %>
    <%= link_to page, url, rel: page.rel, data: data, class: 'pagination-link' %>
  </li>
<% end %>
