
<% if page.current? %>
  <li data-action="click->pagy#scrollToTop">
    <%= content_tag :a, page, rel: page.rel, class: 'pagination-link prime secondary-t bs' %>
  </li>
<% else %>
  <li data-action="click->pagy#scrollToTop">
    <% data ||= {} %>
    <%= link_to page, url, rel: page.rel, data: data, class: 'pagination-link bs' %>
  </li>
<% end %>
