
<div class="brand-filter-grid">
  <% @brands.each do |x| %>

   <div class="my-1">
      <label class="m-checkbox longer-cbox">
      <%= check_box_tag('q[brand_name_i_cont_any][]', x.name, false) %>
      <span class="m-checkmark"><%=(x.name.length > 15) ? x.name[0, 12] +"..." : x.name%></span>
      </label>
   </div>


  <%end%>
</div>
