<div class="ctypegrid mr-2 d-none-mobile">
	<div>
	  <label class="ctype-checkbox">

	  <%= radio_button_tag('q[c_type_i_cont_any][]', "W", false,  oninput: 'this.form.requestSubmit();') %>
	  <span class="ctype-checkmark l-cornered"><i class="fa-solid fa-person-dress fa-lg"></i></span>
	  </label>
	</div>
	<div>
	  <label class="ctype-checkbox">
	  <%= radio_button_tag('q[c_type_i_cont_any][]', "M", false,  oninput: 'this.form.requestSubmit();') %>
	  <span class="ctype-checkmark r-cornered" style="left:55px;"><i class="fa-solid fa-person fa-lg"></i></span>
	  </label>
	</div>
</div>
