
  <div class="flexed-wcc category-filter-grid">


    <% @categories.each do |x| %>

   <div class="my-1">
      <label class="m-checkbox mid-cbox">
      <%= check_box_tag('q[category_name_i_cont_any][]', x.name, false, data: { action: "change->catalog#checkboxToggle" },  oninput: 'this.form.requestSubmit();') %>
      <span class="m-checkmark"><%=x.name%></span>
      </label>
   </div>

    <%end%>
  </div>
