<div class="ml-2 lgrey flexed cornered p-2 cnav-filter-box" data-catalog-target="filterBox" data-action="click->catalog#filterToggle">
    <i class="fa-solid fa-filter mx-2"></i><span class="d-none-mobile">Filters</span>
    <div class="cnav-filter-count d-none"data-catalog-target="filterCount"></div>
</div>