 <% @locations.each do |x| %>
  <div class="my-1">
     <label class="m-checkbox mid-cbox">
     <%= check_box_tag('q[brand_location_i_cont_any][]', x, false, data: { action: "change->catalog#checkboxToggle" },  oninput: 'this.form.requestSubmit();') %>
     <span class="m-checkmark"><%=ISO3166::Country[x].translations['en']%></span>
     </label>
  </div>
 <%end%>