

<div data-controller="previews">

    <div class="center label">Image</div>

<div class="file is-warning center">
  <label class="file-label">

    <%= form.file_field :image,
    direct_upload: true,
    data: { previews_target: "input", action: "change->previews#preview"}, class:"file-input" %>

    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Primary file…
      </span>
    </span>
  </label>
</div>

    <% if post.image.attached?%>
        <div class="subtitle is-6 center mt-2">Image Preview</div>
        <div class="mt-2">
        <%= image_tag post.image, data: { previews_target: 'preview' }, style:"width:300px; height:auto;"%>
        </div>
    <%else%>
        <div class="mt-2">
        <%= image_tag "download.jpg", data: { previews_target: 'preview' }, style:"width:300px; height:300px;"%>
        </div>
    <%end%>


</div>