<%= content_tag :div, id:"posts_list" do %>
<section class="section black-border flexed-wc">
  <% posts.each do |post| %>
      <div><%=render post%></div>
  <% end %>
</section>


  <%= paginate posts,
    params: {controller: :search, action: :search},
    data: {"turbo-method": :post }%>

<%end%>