<div class="black-border post-card center-down">
  <% if post.image.content_type.in?(%w[image/jpeg image/png image/webp]) %>
    <div class="center"><%=link_to (image_tag(post.image_as_thumbnail)), post%></div>
  <% else %>
    <div class="center"><%= image_tag ("download.jpg"), class: "immg"  %></div>
  <% end %>

  <div class="title is-5" style="margin: 0;"><strong><%=link_to post.title, post, class:"secondary-t"%></strong></div>
  
    <div><i><span class="brand-link"><%= post.branded%></span>
    </i></div>


</div>
