
<section class="section is-small prime">
  <div class="center title is-4">catalog</div>
  <br/ >

  <hr class="bst" />
  <div class="center"><%= render 'posts/searchbar' %></div>
</section>

<%# Filter & Sorters%>

<section class="section lgrey">
  <%= render 'posts/components/filter_for_index'%>
</section>


<section class="section black-border flexed-wc">
  <% @posts.each do |post| %>
      <div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
  <% end %>
</section>


