
<%# Filter & Sorters%>
<%= render 'posts/searchbar' %>
<section class="section flexed-wc post-container mx-auto">
<% @posts.each do |post| %>
      <div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
  <% end %>
</section>

<%= render 'component/pagy', item:@posts%>

