<div class="center title is-3 my-2 secondary-t text-center">Pricing</div>
<div class="columns section">
<div class="column box  lgrey m-2" style="border-bottom:1.5em;">
	<div class="title is-6 my-1 center secondary-t">Free</div>
	<div class="title is-4 mb-1 mt-3 center secondary-t">$0</div>
	<div class="title is-7 my-2 center secondary-t">per year</div>

	<div class="center secondary-t">Brand Page</div>
	<div class="center secondary-t">5 apparel listing</div>
	<br/>
	<br/>
	<br/>
	<%=link_to "Select", root_path, class:"bss button is-warning bold center mt-2"%>
</div>

<div class="column box  lgrey m-2">
	<div class="title is-6 my-1 center secondary-t">Standard</div>
	<div class="title is-4 mb-1 mt-3 center secondary-t">$80</div>
	<div class="title is-7 my-2 center secondary-t">per year</div>

	<div class="center secondary-t">Brand Page</div>
	<div class="center">40 apparel listing</div>
	<div class="center">Access to Data Analytics</div>
	<br/>
	<br/>
	<%=link_to "Select", root_path, class:"bss button is-warning bold center mt-2"%>
</div>

<div class="column box  lgrey m-2">
	<div class="title is-6 my-1 center secondary-t">Premium</div>
	<div class="title is-4 mb-1 mt-3 center secondary-t">$180</div>
	<div class="title is-7 my-2 center secondary-t">per year</div>

	<div class="center secondary-t">Brand Page</div>
	<div class="center secondary-t">60 apparel listing</div>
	<div class="center secondary-t">Access to Data Analytics</div>
	<div class="center secondary-t">Access to Badge System</div>
	<div class="center secondary-t">Access to File Upload</div>
	<%=link_to "Select", root_path, class:"bss button is-warning bold center mt-2"%>
</div>

</div>