<section class="section is-medium prime section-corner-top">
  <div class="center title is-4 secondary-t">Welcome!</div>
  <hr class="bst" />
</section>

<section class="section lgrey center">
	<div class="bs p-2 cornered rw50">
		<div class="bold center">Basic Information</div>
		<div class="content mx-auto">

			<br/>
			<div class="text-center rw70 mx-auto">
				Different from traditional listing sites, anyone can start uploading their brand, <strong class="secondary-t">there are no fee per click or purchase</strong>, and strong support for emerging brands.
			</div>
			<ol class="mx-auto rw70">
			<li>Please follow our guideline when listing brand & clothing</li>
			<li>You can Manage your brand at <strong class="secondary-t">Profile</strong> -> My Brand</li>
			<li>If you would like to be our partner please reach out to our admins at inquiry@mokkalog.com or on our discord.</li>
			<li>Our services are free at the moment, but this will change in the future.</li>
			</ol>

			<div class="center"><%= link_to "Add your clothing brand to get started", new_brand_path,class:"button is-warning is-m my-2 p-1", style:"border: 2px solid #654321;" %></div>
		</div>
	</div>
</section>