<section class="section center">
	<div class="bs p-2 cornered rw50">
		<div class="bold center">Basic Information</div>
		<div class="content mx-auto">

			<br/>
			<div class="text-center  rw80 mx-auto">
				Thank you for deciding to use our services! The first 10 clothing upload is free & we charge per clothing listed on our website after 10. Also if you would like to enroll in our badge system there is a monthly fee.
			</div>
			<ol class="mx-auto rw70">
			<li>When uploading please follow our guidelines.</li>
			<li>You can Manage your brand at <strong class="secondary-t">Profile</strong> -> <strong class="secondary-t">My Brand</strong></li>
			<li>We have limited 10 clothing listing at the moment, if you would like to add more ask an admin on discord.</li>
			<li>Join our Discord to get the latest update!</li>
			</ol>

			<div class="center"><%= link_to "Add my Brand!", new_brand_path,class:"button is-warning is-m my-2 p-1", style:"border: 2px solid #654321;" %></div>
		</div>
	</div>
</section>