<section class="section">
	<div class="center title is-3 secondary-t text-center">What brings you to Mokkalog?</div>

</section>

<section class="section columns">
	<div class="column bs cornered lgrey m-4">
		<div class="title is-4 secondary-t center">Browse</div>
		<div class="content">
		<ul>
			<li>Discover innovative & underrated brands</li>
			<li>Get recommendations based on your likes</li>
			<li>Customize your Profile Page</li>
			<li>Leave Reviews, Info, & Sell!</li>
			<li>Exclusive discounts from our partners!</li>
		</ul>
		</div>
		<div><%=link_to "Start exploring", browse_path, class:"button is-warning bold center", style:"border: 1px solid #654321;"%></div>
	</div>
	<div class="column bs cornered lgrey m-4">
		<div class="title is-4 secondary-t center">Brand Owner</div>
		<div class="content">
		<ul>
			<li>Upload your clothing to a wider audience</li>
			<li>Find resources for small & growing brands</li>
			<li>Find potential brands & creators who are open to collaboration</li>
			<li>Become part of Mokkalog Partner Program</li>
		</ul>
		</div>
		<div><%=link_to "Brand Onboarding", new_brand_path, class:"button is-warning bold center", style:"border: 1px solid #654321;"%></div>
	</div>
	<div class="column bs cornered lgrey m-4">
		<div class="title is-4 secondary-t center">Retailers</div>
		<div class="content">
		<ul>
			<li>Upload links that directs you to your store for products you carry</li>
			<li>Find potential brands to stock in your store</li>
			<li>Become part of Mokkalog Partner Program</li>
			<li>Email: inquiry@mokkalog.com</li>
		</ul>
		</div>
		<div>
			<%= mail_to "inquiry@mokkalog.com", "Contact Us", class:"button is-warning bold center", style:"border: 1px solid #654321"%></div>
	</div>


</section>


<section class="flexed">

</section>
   