/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//= require_tree ./mokkaSheets
@font-face{
    font-family:"helvetica";
    src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}
.helv{font-family:"helvetica";}


.tabs li.is-active a{
    color:#654321;
    font-weight:bold;
}

/*
#my-frame form input[type="submit"] {
  width:200px;
}
 */





/*DEV TOOL*/
.bb{border: 2px solid black;}
.nopad{padding:0;}
.testsection{width:100%;background-color:blue;}
.pointer{cursor: pointer;}
.hide-btn{position:absolute;top:5px;right:5px;color:grey; cursor:pointer;}
.hide-btn-r{position:absolute;top:5px;left:5px;color:grey; cursor:pointer;}
.d-none{display:none;}
.d-inline-flex{display:inline-flex;}
.section-corner{border-radius:4px;}
.section-corner-top{border-radius:4px 4px 0px 0px;}
.cornered{border-radius:4px;}
.t-cornered{border-radius:4px 4px 0px 0px;}
.b-cornered{border-radius:0px 0px 4px 4px;}
.outline{
    color:white;
    text-shadow: 1px 1px 2px black;
}
.bold{font-weight:bold;}
/*INPUT*/
.mokka-ph::placeholder{
    opacity: 0.7;
    color:#654321;
}
.mokka-ph:focus{
    border-color: #654321;
    outline:0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0, .075), 0 0 8px rgba(101,67,33,1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(101, 67,33,1);
}

.relative{position:relative;}
.abs{position: absolute;}
.left-corner{position:absolute; right:1%; top:5%;}
.post-shadow{box-shadow: rgba(192,192,192,0.3) 0px 19px 38px, rgba(0,0,0,0.22) 0px 15px 12px;}

.button-like-text {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    /* Additional styles to match <p> element */
    display: inline;
  }
  
  .button-like-text:hover {
    text-decoration: none;
  }

  .circle-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width:40px;
    border-radius:50%;
    color: #654321;
    background-color:#cbb595;
    border: 3px solid #654321;
    transform: translateY(-30px);
}
    .like-btn{

    }


  
/*COLOR*/
.white{color:white;}
.grey{color:grey;}
.red{color:red;}
/*NEED TO GET RID OFF PURP#9xf5f9f*/
.purpF{background-color:#cbb595;}
.purp{background-color:#9f5f9f;}
.bp{border: 2px solid #654321;}
.border-purp-top{border:1px solid; border-color:#654321;}
.bpb{border-bottom:2px solid; border-color:#654321;}
.purp-link{color:#654321;text-decoration: underline #654321; cursor: pointer;}
.purp-btn:hover{background-color:#8f558f;color:white;}
/*COLORS*/
.lgrey{background-color:#f5f5f5;}


/*PRIME COLOR#cxbb595;*/
.prime{background-color:#cbb595;}
.prime-t{color:#cbb595;}
.b{border: 2px solid #cbb595;}
.border-purp-top{border:1px solid; border-color:#654321;}
.bpb{border-bottom:2px solid; border-color:#654321;}
.bpt{border-top:2px solid; border-color:#cbb595;}

.p-btn{background-color:#cbb595;color:#654321; border:2px solid; border-color:#654321;}
.p-btn:hover{background-color:#b29162;color:#654321;border:2px solid; border-color:#654321;}
.p-link{color:#654321;text-decoration: underline #654321; cursor: pointer;}

/*SECONDARY#cxbb595;*/
.secondary{background-color:#654321;}
.secondary-t{color:#654321;}
.bst{border-top:2px solid; border-color:#654321;}
.bs{border:2px solid; border-color:#654321;}

.s-btn{background-color:#654321;color:white; border: 2px solid;border-color:#cbb595;}
.s-btn:hover{background-color:#52361b;color:white;}

.s-link{color:#654321;text-decoration: underline #654321; cursor: pointer;}

.center     {display: flex;justify-content: center;align-items: center;}
.center-down{display: flex;justify-content: center;align-items: center; flex-direction:column;}
/*WIDTH-CONTROL*/
/*rw = responsive width/ w= not responsive*/
.rw50{width:50%;}
.rw30{width:30%;}
.rw60{widht:60%;}
.rw70{width:70%;}
.rw90{width:90%;}
.rw20{width:20%;}

.w50{width:50%;}
.w30{width:30%;}
.w70{width:70%;}
.w90{width:90%;}

/*FlexBox*/
.flexed-w{display:flex;flex-wrap:wrap;}
.flexed-wc{display:flex;flex-wrap:wrap;justify-content: center;}
.flexed{display:flex;}
.flexed-baby{flex:1;}
.flexed-c{display:flex;flex-direction:row;}
.flexed-r{display:flex;flex-direction:row;}
.flexed-end{display:flex;justify-content:flex-end;}
.float-r{float:right;}
/*ALERT*/
.mokka-alert{min-height:80px;}


/*INDEX ROOT*/
.mobile-collapse{}
.root_search{width:30%;}
.carousel-lbtn{position:absolute;top:45%; left:3%;}
.carousel-rbtn{position:absolute;top:45%; right:3%;}

.caro-lbtn{position:absolute;top:50%; left:3%;}
.caro-rbtn{position:absolute;top:50%; right:3%;}




/*HOTWIRE*/
.image-preview{min-height:300px;}
.image-preview-small{min-height:150px;}

/*Post-Show*/
.show-info{display: flex;flex-direction:column;justify-content: center;align-items: center;}
.tag-box{width:50%;}
.info-box{width:80%;min-height:120px;}
.desc-box{min-height:150px;}

.dd{
    width:100px;
    background-color:white;
    }
.dd-c{
    
    width:100px;
    background-color:White;
    color:black;
    border:2px solid; border-color:#black;
    border-top:none;
    border-bottom-color:grey;
    }
.errorbox{color:red; height:30px;}

/*Comment*/
.sscomment{
    width: 600px;
    height:150px;
    border-radius: 25px;
    background-color:#E5E5E5;
}

.comment-date{font-size:12px;}
.comment-b{display:inline;}
.no-style{list-style-type:none;}





/*Nav*/
.nav-link{color:#654321; font-weight:600;}
.nav-link:hover{color:#cbb595;}

.nav-link-holder{display: flex;justify-content: center;align-items: center;}
.nav-button-holder{display:none;}
.nav-button{display:none; background:none; border:none;}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    padding: 10px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


.hover {
    position: relative;
    display: inline-block;
  }
  
  .hover-content {
    display: none;
    right: -5%;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    padding: 4px 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius:4px;

    z-index: 1;
  }
  
  .hover:hover .hover-content {
    display: block;
  }

/*PROFILE PICTURE*/
.profile{
    position:absolute;
    top:-50px;
    left:15%;
    height:200px;
    width:200px;
    border:3px solid #fff;
    border-radius:50%;
    background-color:grey;
    overflow:hidden;
}
.fup-profile{position:absolute;top:180px;left:17%;}



.profile-text{min-height:400px;max-width:500px;}
.pdrofile-desc{max-width:200px;}


.option-form{background-color:green;}
.option-form option{background-color:green;}

/*BLOGS*/
/*BLOGS-index*/
.blog-pinned-section{min-height:200px;}
.blog-section{}
.blog-long{min-height:150px;}
.blog-title{text-decoration:none;color:black;}

@media (max-width: 800px){
    .image-flex{flex-direction:column-reverse;}
    .image-small-container{display: flex;justify-content: center;align-items: center;}
    .root_search{width:60%;}
    .mobile-collapse-container{flex-direction:column;}
    .post-card{width:200px;}
    .rw30{width:50%;}
    .rw50,.rw60,.rw70,.rw80,.rw90{width:90%;}
    .comment-date{font-size:12px;}
    .profile-holder{min-height:140px;}

    }    

@media screen and (max-width: 481px){.nav-link-holder{display:flex;}

@media (max-width: 480px){
    .d-none-mobile{display:none;}
    .d-block-mobile{display:block;}
    .root_search{width:95%;}
    .mobile-collapse{width:95%; margin:auto;display: flex;justify-content: center;align-items: center;}
    .post-card{width:150px;}
    .brand-card{width:140px;}
    .rw60,.rw70,.rw80,.rw90{width:90%;}
    .rw30, .rw50{width:98%;}
    .comment-date{font-size:8px;}

    .nav-link-holder{display:none;flex-direction:column;justify-content: center;align-items: center;}
    .nav-button-holder{display:flex;}
    .nav-button{display:block;}

    .profile{left:50%;top:25%;transform: translate(-50%,-50%);}
    .fup-profile{left:50%;top:120%;transform: translate(-50%,-50%);}
    .profile-text{display:flex; justify-content:center; align-items:center;flex-direction:column;}


@media (max-width: 370px){
    .post-card{width:200px;}
    .rw60,.rw70,.rw80,.rw90{width:95%;}
    .comment-date{font-size:6px;}
    .nopad{padding:0;}

    }


