/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face{
    font-family:"helvetica";
    src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}
.helv{font-family:"helvetica";}

/*
#my-frame form input[type="submit"] {
  width:200px;
}
 */

/*DEV TOOL*/
.bb{border: 2px solid black;}
.nopad{padding:0;}
.testsection{width:100%;background-color:blue;}

/*NEED TO GET RID OFF PURP#9xf5f9f*/
.purpF{background-color:#cbb595;}
.purp{color:#654321;}
.bp{border: 2px solid #654321;}
.border-purp-top{border:1px solid; border-color:#654321;}
.bpb{border-bottom:2px solid; border-color:#654321;}
.purp-link{color:#654321;text-decoration: underline #654321; cursor: pointer;}



/*PRIME COLOR#cxbb595;*/
.prime{background-color:#cbb595;}
.b{border: 2px solid #654321;}
.border-purp-top{border:1px solid; border-color:#654321;}
.bpb{border-bottom:2px solid; border-color:#654321;}

.p-btn{background-color:#cbb595;color:#black;}
.p-btn:hover{background-color:#8f558f;color:white;}

.p-link{color:#654321;text-decoration: underline #654321; cursor: pointer;}

/*SECONDARY#cxbb595;*/
.secondary{color:#654321;}
.bst{border-top:2px solid; border-color:#654321;}
.bs{border:2px solid; border-color:#654321;}

.s-btn{background-color:#654321;color:white;}
.s-btn:hover{background-color:#8f558f;color:white;}

.s-link{color:#654321;text-decoration: underline #654321; cursor: pointer;}

.center     {display: flex;justify-content: center;align-items: center;}
.center-down{display: flex;justify-content: center;align-items: center; flex-direction:column;}
/*WIDTH-CONTROL*/
/*rw = responsive width/ w= not responsive*/
.rw50{width:50%;}
.rw30{width:50%;}
.rw60{widht:60%;}
.rw70{width:70%;}
.rw90{width:90%;}

.w50{width:50%;}
.w30{width:50%;}
.w70{width:70%;}
.w90{width:90%;}

/*FlexBox*/
.flexed-w{display:flex;flex-wrap:wrap;}
.flexed-wc{display:flex;flex-wrap:wrap;justify-content: center;}
.flexed{display:flex;}
.flexed-baby{flex:1;}
.flexed-c{display:flex;flex-direction:row;}
.flexed-r{display:flex;flex-direction:row;}
.float-r{float:right;}

/*Post*/
.post-card{width:250px;}
.brand-link{color:black;font-weight:400;}
.immg {width:200px;height:200px;}
.immmg{width:400px;height:400px;}

/*Post-Show*/
.show-info{display: flex;flex-direction:column;justify-content: center;align-items: center;}
.tag-box{width:50%;}
.info-box{width:80%;min-height:120px;}
.desc-box{min-height:400px;}


/*Comment*/
.sscomment{
    width: 600px;
    height:150px;
    border-radius: 25px;
    background-color:#E5E5E5;
}

.comment-date{font-size:12px;}
.comment-b{display:inline;}





/*Nav*/
.nav-link{color:#654321; font-weight:600;}

@media (max-width: 800px){
    .post-card{width:200px;}
    .rw50,.rw60,.rw70,.rw80,.rw90{width:90%;}
    .comment-date{font-size:12px;}

    }    


@media (max-width: 480px){
    .post-card{width:200px;}
    .rw50,.rw60,.rw70,.rw80,.rw90{width:90%;}
    .comment-date{font-size:8px;}
    .nav-link-holder{background-color:yellow;position:absoulte;}
    }


@media (max-width: 370px){
    .post-card{width:200px;}
    .rw50,.rw60,.rw70,.rw80,.rw90{width:95%;}
    .comment-date{font-size:6px;}
    .nopad{padding:0;}

    }


