<div data-controller="previews">

<br/>
<div class="center"><%= form.label :banner, class:"bold" %></div>
<%#FORM%>
<div class="file is-warning center bold">
  <label class="file-label">
    <%= form.file_field :banner,
    direct_upload: true,
    data: { previews_target: "input", action: "change->previews#preview"}, class:"file-input" %>

    <span class="file-cta", style="border: 1px solid #654321;">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Primary file…
      </span>
    </span>
  </label>
</div>
<%#IMAGE PREVIEW%>
<div class="image-preview">
<% if brand.banner.attached?%>
    <div class="subtitle is-6 center mt-2">Image Preview</div>
    <div class="center mt-2">
    <%= image_tag brand.banner, data: { previews_target: 'preview' }, style:"width:500px; height:300px;overflow:auto;", class:"cornered"%>
    </div>
<%else%>
    <div class="center mt-2">
  		<%= image_tag "download.jpg", data: { previews_target: 'preview' }, style:"width:500px; height:300px;overflow:auto;", class:"cornered"%>
    </div>
<%end%>
</div>


</div> 