<section class="section is-small prime section-corner">
  <div class="center title is-4">brands</div>
  <br/>
  <hr class="bst" />
  
  <div class="center"><%= render "searchbar" %></div>
</section>


<div class="notification">
<div class="columns">
  <div class="column">
    <div class="title is-4">Sort:</div>
    <%= sort_link(@query, :name, "A-Z", class: "button is-warning")%>
  </div>
  <div class="column">

  </div>
</div>
</div>



<section class="section center">
  <div class="flexed-wcr">
  <% @brands.each do |brand| %>
    <%= render "brands/components/brand_mokka", brand: brand%>
  <% end %>
  </div>
</section>

<%= paginate @brands%>
<br/>