
  
<%= render "searchbar" %>




<section class="section center">
  <div class="flexed-wcr">
  <% @brands.each do |brand| %>
    <%= render "brands/components/brand_mokka", brand: brand%>
  <% end %>
  </div>
</section>

<%= paginate @brands%>
<br/>