<% if notice %>
<div class="has-background-success-light p-2">
<p class="alert mx-6"><%= notice %></p>
</div>
</article>

<% elsif alert %>
<div class="has-background-danger-light p-2">
<p class="alert mx-6"><%= alert %></p>
</div>
<%end %>