<% if notice %>
<article class="message is-success">
<div clas="message-body">
<p class="alert"><%= notice %></p>
</div>
</article>
<% elsif alert %>
<article class="message is-danger">
<div clas="message-body">
<p class="alert"><%= alert %></p>
</div>
</article>
<%end %>