<% if notice %>
<article class="message is-success rw50 mx-auto">
  <div class="message-header">
    <p>Notice</p>
  </div>
  <div class="message-body">
  	<%=notice%>
  </div>
</article>

<% elsif alert %>
<article class="message is-danger rw50 mx-auto">
  <div class="message-header">
    <p>Alert</p>
  </div>
  <div class="message-body">
  	<%=alert%>
  </div>
</article>
<%end %>