<footer class="footer lgrey mt-0" style="height:150px;">
	<hr class="bst"/>
	<div class="columns is-mobile">
		<div class="column">
			<%=link_to "Contact Us", contact_path, class:"s-link"%>
		</div>

		<div class="column" style="text-align:center;">Mokka Group @ 2023</div>

		<div class="column">
			<a href="https://instagram.com/mokkalog" target="_blank">
				<i class="fa-brands fa-instagram fa-xl mx-4" style="float:right;color:#654321;"></i>
			</a>
		</div>
	</div>
</footer>