<footer class="lgrey mt-0 p-2">
	<hr class="bst"/>
	<div class="columns is-mobile">
		<div class="column is-mobile">
			<%=link_to "Contact Us", contact_path, class:"s-link"%>
		</div>

		<%#<div class="column is-mobile" style="text-align:center;">Mokka Group @ 2023</div>%>

		<div class="column is-mobile d-none">
			<a href="https://instagram.com/mokkalog" target="_blank">
				<i class="fa-brands fa-instagram fa-xl mx-2" style="float:right;color:#654321;"></i>
			</a>

			<a href="https://discord.gg/5QXhRMdEGY" target="_blank">
				<i class="fa-brands fa-discord fa-xl mx-2" style="float:right;color:#654321;"></i>
			</a>

		</div>
	</div>
</footer>