<footer class="footer mt-0">
	<hr class="bst"/>
	<div class="flexed">
		<i class="fa-brands fa-discord fa-lg"></i>
		<i class="fa-brands fa-instagram fa-lg"></i>
		<i class="fa-solid fa-question fa-lg"></i>
	</div>
</footer>